[2016-02-12 23:03] Drew-Hyatt opened #1 "Error in Cordova Build Cannot Find Module XCODE"
I can't seem to get this plugin working by following the directions via the readme.  There seems to be an issue when readding platform ios in the CLI. Any idea please help.

![screen shot 2016-02-12 at 4 51 41 pm](https://cloud.githubusercontent.com/assets/12660927/13022998/65bd3b52-d1aa-11e5-8940-c33ea6614a9b.png)

[2016-02-23 01:10] bitjson commented on #1
Hi @Drew-Hyatt, thanks for opening the issue, it looks like I missed some documentation. The script which updates your project to support Swift requires the `xcode` node module, so you'll need to install it too: `npm install --save xcode`.

I just made [some clarifications to the documentation](https://github.com/bitpay/cordova-plugin-qrscanner/commit/bd46f26a37c109aed3f63fc313daf05a157bf0c2). Tha

[2016-02-23 01:10] #1 closed

[2016-03-26 15:53] feidianbo opened #3 "status is null"
// Make sure the user will give your app camera access when prompted, then:
QRScanner.prepare(onDone); // prompt for access

function onDone(**status**){

status is null !!!!!!!!!!!?
and there is nothing when calling qrscan

  if (!status.authorized) {
    // the video preview will remain black, and scanning is disabled
    // you can try asking the user again, but you'll have to use `QRScanner.op

[2016-03-26 15:54] bitjson commented on #3
What device and operating system version are you on? Can you provide any more sample code and debugging information?

[2016-03-26 16:06] feidianbo commented on #3
@bitjson iPhone 6Plus / iOS 9.3

[2016-03-26 18:14] bitjson commented on #3
Odd. Could you try running tests on your device?

[2016-04-02 15:57] majochoc opened #4 "Not compatible with WKWebView"
I've looked at all elements in my webview tree, and can't find any elements in the path that don't have a transparent background.

Status shows that the webview background is transparent. I can scan and get results, but can't see the preview. Just a white screen (well grayish? I can see a difference in the screen and status bar).
device is iPhone 5,  iOS 9.3.1, xCode 7.3. App is Meteor 1.3 with Co

[2016-04-02 16:41] bitjson commented on #4
Hey @majochoc – could you try running the tests on the device you're using? The `test/setupTests.sh` script should generate the test project for iOS (using cordova-test-framework). You can tap "Manual Tests" to review if each function is working on your device. That could help narrow down the issue significantly.

Also, when running your app from XCode, do you get any errors or relevant logging in

[2016-04-02 16:47] majochoc commented on #4
I ran the tests prior to trying to use it in my app. I didn't see a preview there, either. Should I see a preview in the manual tests when I click on the QRScanner.show() button? - Also, the text description on that test button leaves me wondering. It says "Should clear background of provided element a all parents". I don't see an interface to provide an element id.

[2016-04-02 17:28] majochoc commented on #4
So was doing some more research. This may be unique to Meteor 1.3. 1.3 is the latest version and the Cordova support now includes WKWebview instead of a UIWebview. Other plugins have had difficulty setting the background to transparent on a WKWebview.

[2016-04-02 18:52] bitjson commented on #4
Thank you for the info! This plugin is only tested for UIWebView right now, but it would be great to get it compatible with WKWebView. I'd love to review a pull request if you'd like to take a swing at it. I might have a chance to work on it next week as well.

[2016-04-02 18:55] bitjson commented on #3
Hey @feidianbo – did you get a chance to try the tests?

Also, are you using WKWebView with the plugin? This may be related to: https://github.com/bitpay/cordova-plugin-qrscanner/issues/4

[2016-04-02 19:08] majochoc commented on #4
I'll try to work on it. I haven't used Swift before, so I have a bit of curve to learn there. Its even been a while since I actively developed with Obj-C. For my project I have needs for other metadataObjectTypes. Do you have any plans to support other types, or expose them thru an API?

[2016-04-02 19:12] majochoc commented on #4
BTW, with regards to #3, I still get a valid status. And I still get scan results. My issues lie with the cameraView not being inserted properly or the opacity and background not being set since the webView reference is invalid.

[2016-04-03 19:37] majochoc commented on #4
Created pull request with patch - #5

[2016-04-04 17:28] bitjson commented on #4
Solved by https://github.com/bitpay/cordova-plugin-qrscanner/pull/5

[2016-04-04 17:28] #4 closed

[2016-04-04 17:49] bitjson commented on #4
@majochoc thanks for mentioning the confusing language in the tests too, I just fixed in https://github.com/bitpay/cordova-plugin-qrscanner/commit/c3cbe5d99d1a9b3f41402838203c82db6d2e1f61. Was a remnant of an earlier API.

[2016-04-04 17:52] bitjson commented on #3
Other issue solved. Leaving this open for now – if you're still experiencing the issue, could you provide steps to reproduce?

[2016-04-25 18:02] bitjson commented on #3
Closing for now – please let me know if this issue re-appears.

[2016-04-25 18:02] #3 closed

[2016-05-29 07:50] gitmh opened #7 "iOS: Camera video preview layer should not rotate with orientation change"
When you have a landscape cordova app and start scanning the camera is not rotated correctly. The AVCaptureVideoOrientation should change with rotating the device.

[2016-05-31 16:22] bitjson commented on #7
Hey @gitmh, thanks for the report! That's something I've not considered. Does the rotation matter when scanning QR codes? (Does it scan differently?) How do you think the plugin should handle device orientation?

[2016-05-31 17:35] gitmh commented on #7
I have a cordova app which is fixed to landscape only. The scanning also works without rotation but it is very annoying to "find" the code if you move left and the preview moves right and vice versa because the video preview is rotated 180° on your screen (up is down and down is up).

I'm not very familiar with Swift so I tried to fix this by adding something like this:
[code]

I was unable to fig

[2016-06-27 19:45] mattsilv opened #8 "Android"
com.google.android.gms.vision.barcode seems to have classes to support barcode scanning using Google Play services.  Is it possible to extend that into this plugin for supporting barcodes scanning on Anrdoid?

http://android-developers.blogspot.se/2015/08/barcode-detection-in-google-play.html

[2016-06-27 20:00] bitjson commented on #8
Definitely possible! I plan to develop Android and Windows platforms for this plugin, but I haven't had the time yet. I'd love to accept a pull request if you're interested in working on it!

[2016-06-27 20:33] bitjson commented on #7
Hey @gitmh, thanks again for the report. Just wanted to let you know that I'm currently finishing up with the browser implementation (https://github.com/bitpay/cordova-plugin-qrscanner/pull/6), but this is on my radar. I plan to take a swing at this issue once the initial browser implementation is merged.

[2016-06-28 11:53] Giriton commented on #8
There is a plugin that already does live camera preview on android that is rendered over the cordova app. We use that plugin and I believe the hardest part of Android support is already done there:
https://github.com/cordova-plugin-camera-preview/cordova-plugin-camera-preview

The rest to implement is just to use ZXing or com.google.android.gms.vision.barcode to look for QR in camera object and ma

[2016-07-08 15:55] bitjson commented on #8
Work on this is starting here: https://github.com/bitpay/cordova-plugin-qrscanner/pull/9

[2016-07-08 15:58] bitjson commented on #7
Still looking at this – I added some device orientation controls to the manual tests to help with testing for this issue: https://github.com/bitpay/cordova-plugin-qrscanner/commit/d9a11cdabbeb004cd9e1d877680ffac6108c592f#diff-2a8a5fef3397df87ab538f028a5c6b50R96

I'm not very familiar with iOS's layout system – I think the best solution is to disable orientation changes on just the video preview la

[2016-07-08 16:20] dmitrianosov commented on #7
Hi, This is dmitri from upwork.

[2016-07-08 16:20] dmitrianosov commented on #7
Hi, This is dmitri from upwork.

[2016-07-08 16:20] dmitrianosov commented on #7
Hi, This is dmitri from upwork.

[2016-07-08 16:20] dmitrianosov commented on #7
Hi, This is dmitri from upwork.

[2016-07-08 16:20] dmitrianosov commented on #7
Hi, This is dmitri from upwork.

[2016-07-08 16:20] dmitrianosov commented on #7
Hi, This is dmitri from upwork.

[2016-07-08 18:04] gitmh commented on #7
@bitjson I also very unfamiliar with this orientation stuff. The solution I mentioned in the dropbox link with a timer works very well in my app. The problem is that I was unable to register a proper event handler for the orientation change.

[2016-07-26 20:20] willhay opened #11 "Enable Light should not pause the front facing camera preview when called"
On iOS, if you prepare the camera and then call useFrontCamera(), when you call enableLight() the torch turns on but the front facing camera preview pauses. It resumes when disableLight() is called.

[2016-08-02 19:23] willhay opened #12 "iOS: pausePreview() should pause scanning"
If currently scanning when calling pausePreview(), scanning should be paused along with the video preview and resumed on call to resumePreview(). Browser and Android platform already do this.
https://github.com/bitpay/cordova-plugin-qrscanner/pull/9/commits/14cb145b71c5564517962003c938bb57a760445a

[2016-08-04 18:53] bitjson opened #15 "Android: no way of confirming `status.restricted`"
On iOS, the `restricted` field is set when parental controls or organization security profiles disable camera usage. In these cases, users are actually unable to allow the camera permission. The `status.restricted` field is set to `true` to allow app developers to better tailor the experience to these users (by not trying to `openSettings()` and instead asking them to contact a company admin, for

[2016-08-04 18:53] bitjson commented on #15
If someone finds a need for this feature to work on Android (and can test it), please comment here. I'm leaving this closed for now.

[2016-08-04 18:53] #15 closed

[2016-08-05 16:20] willhay opened #17 "Android: Scanning area limited to center of camera preview"
The scanner only detects the QR Code if it's in the middle of the camera preview. For example, if you position the camera so that the QRCode is in the upper right corner of the BarcodeView preview, the QR Code will not be detected. Once you move the camera so the QR Code is in the middle, it detects it instantly. Need to change the scanning area to take up as much of the camera preview as possible

[2016-08-05 16:21] willhay commented on #17
@tobiasviehweger Any ideas?

[2016-08-09 20:39] MilesYM opened #18 "How to make this plugin work with Ionic/angularjs?"
I’m using Ionic/angular for my cordova app and the default barcodescanner plugin is shit. (Waaayyyyyyyyyy too slow). Looking to integrate this scanner but can’t find the right way to do it.

Can anyone gimme a clue please ?

Thanks!

[2016-08-09 20:42] bitjson commented on #18
You should be able to immediately start using the plugin after installing. See the installation instructions in the readme, and the usage here: https://github.com/bitpay/cordova-plugin-qrscanner#usage.

If you have trouble, consider trying the tests to get a feel for the usage: https://github.com/bitpay/cordova-plugin-qrscanner#contributing--testing

[2016-08-09 21:10] MilesYM commented on #18
Thank you very much for your prompt answer, this is impressive!

To give you a bit more details. I’ve followed the usage tutorial.

But then, when calling for the QRScanner object, nothing happen.

Looking at the console, I noticed i have the following error:
ReferenceError: Can't find variable: module
this comes from the last line of the code.

I’ve been trying to wrap it up in a  `document.addEv

[2016-08-09 21:16] MilesYM commented on #18
Looking at the code, I have no idea where the module is coming from. Can’t see it declared. Any clue?

Thanks!

[2016-08-09 21:26] bitjson commented on #18
No problem, happy to help if I can.

By the time the `deviceready` event propagates, this plugin should have instantiated an object on the `window` element called `QRScanner`. You can confirm this plugin is working properly by opening the javascript console and running something like `QRScanner.scan()`. Can you confirm that command works?

Also, what device(s) are you testing on?

Once you've conf

[2016-08-09 22:00] MilesYM commented on #18
Thank you so much BitJson!

Ok so I made little bit of progress here.

For those using Ionic here is what I was doing wrong:

I was trying to  load the QRScanner.js file myself as a service on AngularJS (in index.html). That wasn’t the right way to do it. Just don’t do anything, it will load by itself.

Now that being said, I can access the QRScanner object but ....

When doing the following:
`QRS

[2016-08-10 04:44] bitjson commented on #18
Ah – there's actually an issue with the example usage – both the [`prepare`](https://github.com/bitpay/cordova-plugin-qrscanner#prepare) and [`scan`](https://github.com/bitpay/cordova-plugin-qrscanner#scan) methods actually take two parameters, the first accepts errors. I'll make a pull request to improve that example, something like:

[code]
Thanks for bringing it to my attention!

If after makin

[2016-08-10 12:31] bitjson commented on #18
Updating that usage example here: https://github.com/bitpay/cordova-plugin-qrscanner/pull/19

[2016-08-10 17:15] MilesYM commented on #18
Thanks for your example.

Unfortunately, it’s still not working. I’ve integrated your new piece of code.
But nothing is showing up. If the camera access has been granted (from the settings option), then I get `[Log] {authorized: true, denied: false, restricted: false, prepared: true, scanning: false, …} (list.js, line 247)` but if I reinstall the app and try again, it doesn’t trigger anything (the

[2016-08-10 19:42] bitjson commented on #18
Hey @MilesYM – could you provide sample code? Is your app on github somewhere?

Is `QRScanner.openSettings()` working if you run it from the javascript console?

Have you confirmed the preview is not being covered over by an HTML element? Particularly with Ionic apps, you'll need to make some changes to Ionic's base styling to allow the video preview to be visible.

Particularly on iOS, once you'v

[2016-08-11 16:49] NicRoy commented on #18
Hi @MilesYM,

I started using this great plugin 2 days ago, testing on Ipad and Sony Xperia (Android Lollipop). I have read this thread with deep interest. (I faced at first the same NULL status as you, because of the "err" parameter and this thread helped much).

After that, as scan was working as a charm on ipad, I kept having a black video on the Sony Xperia (whereas both devices had correct au

[2016-08-11 17:05] willhay commented on #18
Glad it's working for you on android @NicRoy
How is the scanning speed on your Sony Xperia? I'm testing on a few older android phones and sometimes it can take a second or two before the scan result is returned.  By contrast, the iOS version is almost instant in all my tests. I was wondering if you are having this same speed issue?

[2016-08-11 17:23] NicRoy commented on #18
Hi @willhay, really unnoticeable delay (to not say 'zero') on the Sony Xperia (M4 aqua dual). Ditto on ipad 3.
Speed may depend on QRcode size ? (using small one for testing, i.e. : http://cdn4.explainthatstuff.com/qr-code-barcode-example-ets.png).

[2016-08-11 17:47] willhay commented on #18
@NicRoy Good to hear. I think it could be that I just never center the qr-code properly in the camera view. Seems to only scan if the qr-code is in the middle of the camera preview. I opened an issue about it. https://github.com/bitpay/cordova-plugin-qrscanner/issues/17 Would you mind trying to scan by placing the qr-code in the upper corner of the camera preview and tell me if it scans correctly?

[2016-08-11 18:11] NicRoy commented on #17
Hi @willhay. Answering here your question on post #18 related to this post.

I have the same behaviour as you describe on my android devices.
But surprisingly, QR code is scanned on ipad3 even if placed in corner (note that ipad3 has a strange way of using only a centered subportion of its photo captor when in video mode, making it equal to some kind of zoom).

Anyway, the behaviour with android d

[2016-08-15 20:21] bitjson commented on #18
Hey @MilesYM – were you able to get it working? The readme has been updated to make this more clear, so I think we're good to close this issue.

[2016-08-15 20:53] bitjson commented on #17
@NicRoy thanks for the info.

(As for the iOS "zoom" behavior, that's an OS level behavior. If you use the built-in `Camera` app, you'll notice it seems to "zoom" when you switch between photo and video. I'm not exactly sure why, but I assume Apple has a technical reason.)

I'll leave this issue open, as it would be great to get the Android platform working similarly to the iOS one (aggressively s

[2016-08-15 20:54] bitjson commented on #8
This has now shipped: https://github.com/bitpay/cordova-plugin-qrscanner/pull/16

[2016-08-15 20:54] #8 closed

[2016-08-15 23:32] bitjson commented on #18
@NicRoy – thanks for the explanation of the issue you had above. I rewrote the [Get Started section of the readme](https://github.com/bitpay/cordova-plugin-qrscanner#get-started) a bit based on your experience (https://github.com/bitpay/cordova-plugin-qrscanner/commit/d083b9a2645684d9cc4800bfd5fd490aabb136cb), hopefully this will help avoid issues like that in the future.

I'm going to close this

[2016-08-15 23:32] #18 closed

[2016-08-16 12:09] sudham opened #23 "Building the tests"
I have a couple of issues -
1. The plugins are not being downloaded from the registry and I am using the git path - not sure how to resolve this
2. The AndroidManifest.xml has a package attribute with a value that contains {{TIMESTAMP}} - this is not being parsed - get an error at "{".  Can I create the package name without this - where should I change this ?

[2016-08-16 14:54] bitjson commented on #23
Hey @sudham – could you provide a little more information about your environment? (Are you on Windows? What version of node are you using?)

Are you running `npm run gen-tests`?

For (1), The `gen-tests` task should not be downloading the `cordova-plugin-qrscanner` or `cordova-plugin-qrscanner-tests`, since those are actually [installed from your current working directory](https://github.com/bitpa

[2016-08-22 15:09] bitjson commented on #23
Hey @sudham – were you able to get the tests built? Please let me know if I should keep this issue open.

[2016-08-23 01:23] sundraya-app opened #24 "I used ionic2 installed this plugin can't display camera preview"
My develop environment

Cordova CLI: 6.2.0
Ionic Framework Version: 2.0.0-beta.10
Ionic CLI Version: 2.0.0-beta.32
Ionic App Lib Version: 2.0.0-beta.18
ios-deploy version: 1.8.6
ios-sim version: 5.0.8
OS: Mac OS X El Capitan
Node Version: v4.4.5
Xcode version: Xcode 7.3.1 Build version 7D1014

[2016-08-23 01:38] bitjson commented on #24
Did you make the background of your app transparent? With Ionic's default styling, the `<body>` element's background will cover the preview. Try inspecting your app with [Safari](https://developer.apple.com/library/iad/documentation/AppleApplications/Conceptual/Safari_Developer_Guide/GettingStarted/GettingStarted.html) or [Chrome](https://developers.google.com/web/tools/chrome-devtools/?hl=en) dev

[2016-08-23 01:38] #23 closed

[2016-08-23 14:57] tobiasviehweger commented on #17
@willhay I just had a few minutes to look into this - though my time is unfortunately quite limited atm. I'd really like to test more.

My suspicion is that the following parts are responsible for this, the BarcodeView sets the cropping:
https://github.com/journeyapps/zxing-android-embedded/blob/master/zxing-android-embedded/src/com/journeyapps/barcodescanner/BarcodeView.java#L178

The cropping co

[2016-08-29 14:03] KixS commented on #24
Hi,

I'm having the same issue. I'm not being able to see the preview.
The QRscanner is firing though with the following status:

`authorized
:
true
canChangeCamera
:
true
canEnableLight
:
true
canOpenSettings
:
true
currentCamera
:
0
denied
:
false
lightEnabled
:
false
prepared
:
true
previewing
:
true
restricted
:
false
scanning
:
true
showing
:
true`

I don't understand where the preview is gen

[2016-08-29 23:43] bitjson commented on #24
@KixS – the video preview is rendered completely behind the webview (the embedded web browser element where your app is being displayed). You'll need to make your app's background completely transparent to view it.

[2016-08-29 23:45] bitjson commented on #24
@sundraya-app – were you able to get it working in your app?

[2016-09-01 11:40] KixS commented on #24
@bitjson Thanks for the answer !

[2016-09-01 11:52] sundraya-app commented on #24
Thank you for your reply. I try to make app's background transparent,but it doesn't work, I don't why, I have tried different ways,and at least it's still can not display camera preview,but my app installed this plugin can identify the QR code.My English is poor,I hope you can understand it.

[2016-09-02 02:35] bitjson commented on #24
@KixS – glad that helped!

@sundraya-app – very happy to help if I can. Is your app's source code available on GitHub? What device(s) are you testing on?

[2016-09-08 17:47] hottom opened #25 "Android: black screen on app minimize and re-open"
if first enter app,it is ok.
when click android return,then start app again,the screen is black.
If clear memory and restart app,it is ok.

[2016-09-08 17:50] hottom commented on #24
you need set html and body to transparent.

[2016-09-08 18:12] bitjson commented on #25
Happy to help. Could you put a test app on github so I can reproduce the issue?

[2016-09-08 18:13] bitjson commented on #24
Closing this for now, please feel free to reopen if you're still having trouble @sundraya-app!

[2016-09-08 18:13] #24 closed

[2016-09-09 02:55] hottom commented on #25
Hi,
I have push test app on github.

https://github.com/hottom/scantest <https://github.com/hottom/scantest>

Please help me .
Thanks.

hottom

[2016-09-12 00:38] jacobgus commented on #18
Hey there, I have implemented the code, no errors anywhere and looks identicle to many tutorials ive seen but when i got to export it to my iphone via both xcode and through ionic i cant get the camera to come up. Any ideas?

[2016-09-21 15:28] bitjson commented on #18
Hey @jacobgus – what does [`QRScanner.getStatus()`](https://github.com/bitpay/cordova-plugin-qrscanner#get-qrscanner-status) report if you run it in the console? Are you sure your app's background is not covering over the video preview?

[2016-09-21 15:30] bitjson commented on #25
Hey @hottom – I'm trying to reproduce this – could you describe a little more about what you're doing, and what you expect the plugin to do?

I think the default background for an Android app is black, so if your webview has no background, and the plugin is not showing a video preview, the background is expected to be black. Would you expect a different behavior?

[2016-09-21 16:20] tobiasviehweger commented on #25
@bitjson @hottom I can reproduce this in our app. I can look into it!

[2016-09-22 07:36] elledienne opened #27 "Swift3 + viewfinder implementation"
I forked the project and I converted it to Swift3 (it was quite easy to be honest), I also added a feature that adds a viewfinder during the scanning (a very simple square around the detected code).

Would you be interested in a PR?

[2016-09-22 15:19] bitjson commented on #27
Hey @elledienne – we'd love for you to contribute! For compatibility across platforms (and API simplicity) we have avoided implementing any native viewfinder-type functionality, but we'd love to take a pull request with any refactoring needed for Swift 3.

[2016-09-23 15:57] #25 closed

[2016-09-25 18:42] mehdy opened #28 "let the user define the the video tag where and how he wants it"
I think it's bad that the video tag is created by lib itself and always appended to body.
I suggest that we let the user define a video tag however he wants and wherever in the DOM and if he didn't we'll do what we do now

[2016-09-26 00:26] bitjson commented on #28
Hey @mehdy – which platform implementation are you looking at? For iOS and Android, we don't use a `<video>` element at all (in fact on iOS, that isn't possible without allowing the video to take the full screen). The `cordova-browser` implementation is also designed to work as closely to the other platforms as possible.

[2016-09-27 05:02] subhash8108 opened #29 "Not working cordova-plugin-qrscanner"
Hello,

I have onesignal-cordova-plugin plugin installed on my cordova android app, when install your plugin after then run cordova project that time getting gradlew error.. if remove the onesignal-cordova-plugin then proper working. I like your package but not working for android

I think conflict file of plugin.

Please give me a suggestion.

![gradle error](https://cloud.githubusercontent.com/a

[2016-09-27 08:13] tobiasviehweger commented on #29
@bitjson This should be fixed by #26.
@subhash8108 Could you try installing by doing `cordova plugin install https://github.com/bitpay/cordova-plugin-qrscanner#70a931614765d69f01303654060779628dab5115`

[2016-09-27 08:25] subhash8108 commented on #29
How to remove "unnecessary dependency (breaks other plugins) ".?

[2016-09-27 11:12] mehdy commented on #28
hmmm, yeah it makes sense. so I'll close the issue. thanks

[2016-09-27 11:12] #28 closed

[2016-09-27 15:35] tobiasviehweger commented on #29
Just install the newest version of the plugin, directly from this repository.
Like I said, to test if it works, first uninstall the npm version:
`cordova plugin remove cordova-plugin-qrscanner`

Then (install master branch)
`cordova plugin install https://github.com/bitpay/cordova-plugin-qrscanner`

[2016-09-27 22:35] bitjson opened #30 "Browser: useFrontCamera should return FRONT_CAMERA_UNAVAILABLE if a second camera is not available"
Currently the plugin closes the current video stream and reopens a stream from the same camera.

[2016-09-28 00:29] #30 closed

[2016-09-28 01:03] bitjson commented on #29
Thanks for contributing the fix @tobiasviehweger! This was just released in version [2.3.1](https://github.com/bitpay/cordova-plugin-qrscanner/releases/tag/2.3.1).

[2016-09-28 01:03] #29 closed

[2016-09-29 00:24] bitjson opened #32 "Library: error is thrown when optional callbacks are not included"
The following methods do not require callbacks, and should not throw errors if a callback isn't provided:

[code]

[2016-09-29 02:48] #32 closed

[2016-09-29 10:24] mattijswilms opened #33 "destroy on ios crashes"
Hi,

When I use QRscanner on Cordova IOS it crashes on the line 330 (self.captureVideoPreviewLayer!.removeFromSuperlater()

when I call destroy.

[2016-09-29 10:35] mattijswilms commented on #33
The whole app specifically crashes when you start using the qrscanner again.

[2016-09-29 14:34] bitjson commented on #33
Hey @mattijswilms thanks for reporting the issue – I haven't been able to reproduce it yet. Could you possibly provide a code snippet that triggers the bug?

I'll be trying to fix this and two other iOS bugs in the next few days.

[2016-10-01 20:32] bitjson commented on #33
Hey @mattijswilms, I'm trying to look into this issue today. Do you have any more information on how I can reproduce the bug or the error it generates? Did you see the error in the javascript console? Or were you debugging with Xcode?

[2016-10-01 21:23] mattijswilms commented on #33
Hi Jason,

I was debugging with xcode. I don't have that much to go on but the destroy
command seems to cause the crash.

So I get a crash breakpoint in xcode, but the app crashes when I call the
prepare command again to scan for a second time.

2016-10-01 22:32 GMT+02:00 Jason Dreyzehner <notifications@github.com>:

[2016-10-01 21:34] #12 closed

[2016-10-01 21:59] bitjson commented on #33
Thanks for the reply! When you get a chance, could you try to copy/paste the javascript that causes the bug? Or just a list of the steps you can go through to reliably reproduce the issue?

I've tried something like:
- prepare
- show
- scan
(messed with light, camera reversal, etc.)
- destroy
- prepare
- scan
- destroy
- prepare
- scan

And I'm not seeing any issues yet.

If you're willing, it wou

[2016-10-01 22:02] bitjson commented on #27
Hey @elledienne – I'm reviewing issues here this weekend, and I'd love to pull in your work. Would you still be willing to send in those changes for Swift 3?

[2016-10-02 13:16] elledienne commented on #27
Hey @bitjson, so sorry for the late answer! I'll open a PR asap!

[2016-10-05 15:32] ParVisual opened #35 "Android. Nothing appears on screen."
Installed on a ionic tab's project, and debuggued in a controller, after device ready.
Running in a tablet Samsung Tab 2. 10.1.
Plugin is recognized, authorized, and run without errors, but nothing appears on screen.

[code]

    $ionicPlatform.ready(function() {

        alert(window.QRScanner);

        try {

            window.QRScanner.prepare(

                function onDone(err, status) {

[2016-10-05 16:18] bitjson commented on #35
Is your application covering the video preview? You'll need to make sure the backgrounds of the `<body>` and any other elements are transparent.

This test repo might be helpful for you: https://github.com/bitjson/qrscanner-test

[2016-10-05 17:05] ParVisual commented on #35
Hi, bitjson, thanks to reply. I'm sure that the DOM elements on my project have a transparent background.
Here is my code, is quite simple.
**INDEX:**
[code]
**TAB:**
[code]
**CONTROLLER:**
[code]

[2016-10-05 17:07] bitjson commented on #35
Did this project work for you? https://github.com/bitjson/qrscanner-test

[2016-10-05 17:11] bitjson commented on #35
Looking at your code, I'm fairly sure there are still white backgrounds on elements that will be generated by Ionic. Unless you've made other css changes, I wouldn't expect to be able to see the video preview.

I'd recommend [inspecting your application on the device using Developer Tools](http://geeklearning.io/apache-cordova-and-remote-debugging-on-android/), and manually picking apart your appl

[2016-10-05 17:48] bitjson opened #37 "Automate version changes"
We need to be sure to increment the version in `config.xml` as well as `package.json`, since cordova seems to add that version as the `spec` when the plugin is added via:

[code]

Right now, the above results in the following being added to `config.xml`, even though the currently deployed version on npm is `2.3.4`:

[code]

It would be good to add something to the `prep-release` npm script to copy

[2016-10-05 18:06] ParVisual commented on #35
bitjson, thanks. I can't try the qrscanner-test, I downloaded it, but when I run from CMD I have some problems.
I'll take a look at the ionic css classes in order to remove all backgrounds.
I'll let you know when I have tried all optoins.

[2016-10-05 18:15] bitjson commented on #35
Would you mind [posting an issue here](https://github.com/bitjson/qrscanner-test/issues) about the problems you experience trying to run it?

Sounds good – if you're unable to resolve, please feel free to re-open this issue. I'm going to close this for now (unless/until) we find an issue with the plugin. Thanks!

[2016-10-05 18:15] #35 closed

[2016-10-05 18:34] ParVisual commented on #35
SOLUTION: I replaced all background-color:white, background-color:#fff, background-color:#ffffff into  folder www/lib/ionic/css/ionic.css, and I can see the camera.

[2016-10-07 18:01] bitjson opened #39 "Optimize scanning on Android"
Can we optimize scanning performance on Android by customizing some options from https://github.com/journeyapps/zxing-android-embedded? We only need to scan QR codes – I think the implementation is wasting a lot of cycles on other formats.

[2016-10-09 08:45] tobiasviehweger commented on #39
Is it thoug? I think we are limiting this to QR-Codes in this line: https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/src/android/QRScanner.java#L458

[2016-10-10 17:19] agpappas opened #41 "Error when building with Xcode 8 “Use Legacy Swift Language Version” (SWIFT_VERSION)"
When building with Xcode 8 and Cordova 6.3.1 I get “Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Am I missing something?

[2016-10-10 17:50] bitjson commented on #41
Try running `cordova prepare ios` again – the plugin will automatically modify your project build settings properly after the prepare step.

I think there may be a bug in cordova preventing this from happening automatically in some cases, though I haven't gotten to pick through it to see.

I'll leave this issue open until I'm able to track down exactly where the problem is.

[2016-10-11 05:09] bitjson opened #42 "openSettings broken by iOS 10.0"

[2016-10-11 06:39] bitjson commented on #42
https://github.com/bitpay/cordova-plugin-qrscanner/pull/43

[2016-10-18 19:55] daankrs opened #44 "White background in front of view"
I can't get this app to work. There seems to be always a white screen in front of the camera view.

Even when I cloned the test repository (qrscanner-test) there was a white screen in front. You could tell the plugin was working because it would scan, and when you swiped down you could see the top of the camera view because you basically swiped the whole app down.
When calling the Hide function, t

[2016-10-18 20:35] bitjson commented on #39
I had totally missed this before (and quickly added this issue from memory). Thanks @tobiasviehweger, the Android platform is fantastic!

[2016-10-18 20:35] #39 closed

[2016-10-18 20:36] bitjson commented on #27
Thanks for your work @elledienne! Included via https://github.com/bitpay/cordova-plugin-qrscanner/pull/38.

[2016-10-18 20:36] #27 closed

[2016-10-18 20:40] bitjson commented on #44
Hey @daankrs – you're looking at this project, right? https://github.com/bitjson/qrscanner-test

Could you post an issue there? Please include a screenshot/video if possible!

[2016-10-18 20:40] #44 closed

[2016-10-18 20:41] bitjson commented on #33
Hey @mattijswilms – have you had any luck confirming a method of reproducing this issue?

[2016-10-19 06:38] tobiasviehweger commented on #39
@bitjson No worries :)

[2016-10-19 09:50] daankrs commented on #44
Hi, sorry. I thought it belonged here because I only used that project to confirm it wasn't a problem in my own app. In my own app, in which I use this repository, the same behavior shows. Here is a little video to show the problem:
https://youtu.be/H6ZiVK4mDUA

[2016-11-04 17:02] murrekatt opened #45 "Missing license"
What's the license of this plugin? MIT?

[2016-11-04 18:55] bitjson commented on #45
Hey @murrekatt the license is MIT – you can find it defined in [package.json](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/package.json#L48). It was also added during the [initial release](https://github.com/bitpay/cordova-plugin-qrscanner/commit/fbdca00967b817ae4edc572881e15cddf53c3ec8), so there shouldn't be any ambiguity. 🚀

[2016-11-04 19:07] murrekatt commented on #45
Maybe add a license file?

[2016-11-04 19:28] bitjson commented on #45
@murrekatt – good idea, pull request opened: #46

[2016-11-10 02:22] dPary opened #47 "Crosswalk support"
I create a new project to test this plugin,and it work fine.But when i add crosswalk in my project,it shown a blank screen,and go back previous page,the screen flashed.

[2016-11-14 23:54] dcousens commented on #47
@dPary did you end up resolving this?

[2016-11-15 00:00] bitjson commented on #47
I've not tested the plugin with crosswalk – I'm fairly sure it would require some development to get working.

You may want to consider not using crosswalk though – the Android ecosystem has come a long way in the past few years, and there are relatively few devices still in use which lack the Chrome browser webview (Android 4.4+).

Unless you specifically need to support those devices, you'll eit

[2016-11-15 00:40] dPary commented on #47
@dcousens not yet...

[2016-11-15 00:42] dPary commented on #47
@bitjson Thanks for replying

[2016-11-15 03:02] dcousens commented on #47
@bitjson the concern is that a lot of devices do not have a consistent web view, and will have things as simple as `UInt8Array` have sporadic support.

Not to mention UI problems with inconsistent support for things like flex-box etc.

Crosswalk solves those issues in a way you can trust the crypto isn't silently failing.

[2016-11-23 19:04] sweebee opened #48 "(Half) white screen"
Sometimes i get a white or a half white screen on the First load on my iphone. Going to an other page and back solves it.

[Imgur](http://i.imgur.com/Dqfbd6X.jpg)

[2016-12-02 04:59] dcousens commented on #41
@agpappas did this resolve your issue?

[2016-12-02 21:50] #45 closed

[2016-12-03 17:31] jacobgus commented on #18
Found the issue, hiring a guy to fix it for me worked like a charm ;P

[2016-12-04 02:14] dcousens commented on #47
For the record, it works great using https://github.com/apache/cordova-plugin-wkwebview-engine

[2016-12-19 10:34] MiroHibler opened #52 "Other types of barcodes?"
Are there plans to broaden the scanning capabilities with, for example UPC, EAN, CODE and other codes?

[2017-01-05 15:31] dunkan23 commented on #48
I had a similar issue in my ionic framework app. Apparently the css that should hide the body background doesn't get applied. I used this to force it to work:

`document.body.style.display = 'none';
$timeout(function() {
    document.body.style.display = 'block';
}, 100);`

Dirty, but functional.

[2017-01-05 16:15] dunkan23 opened #55 "Unable to make release build on iOS"
First off, great plugin, guys! It's crazy fast and on android it runs amazingly.

I have some issues on iOS though. I have a ionic framework project and when I build the project normally everything is OK. When I build it for release I have the output below.

I am running Cordova v 6.4.0 and xcode 8.0.

Thanks for the help and happy new year!

[code]

[2017-01-10 20:50] bitjson commented on #55
Thanks! Glad you're liking it.

Looking at the log you provided, I don't see any indication that this issue is caused by `cordova-plugin-qrscanner`. It looks like a project configuration issue (or maybe a cordova issue). Just looking around briefly, it seems similar to (but not the same as) [this stack overflow issue](http://stackoverflow.com/questions/22334680/xcode-5-1-libcordova-a-architecture-

[2017-01-10 20:50] #55 closed

[2017-01-10 21:09] bitjson commented on #52
Hi @MiroHibler – as of now, we have no plans for this plugin to support anything other than QR codes, but that functionality is available in [phonegap-plugin-barcodescanner](https://github.com/phonegap/phonegap-plugin-barcodescanner) if you're interested.

Going to close this for now, but if you decide to maintain a fork adding that functionality, I'd love to link to it from the readme!

[2017-01-10 21:09] #52 closed

[2017-02-01 14:05] LarsBuur opened #59 "Ability to zoom"
I have experimented with the plugin and everything seems to work great. Our QR codes are rather small and it would be a great help if we somehow could control the camera zoom. If we get to close to the QR code then it becomes blurry. For our purposes a setting of e.g. 1.5 zoom on .scan would be great.

[2017-02-01 23:09] bitjson commented on #59
I haven't really thought about this use case, but I can see us supporting it. Have you thought about how the API should work?

I'd love to review a pull request for the feature!

[2017-02-02 07:42] LarsBuur commented on #59
Thanks for the feedback! A simple suggestion would be:
[code]
And this would not break backwards compatibility.

I have no clue how to set zoom in swift and android so I would not be the right person som create this feature. If you have an idea as to where to implement this I would like to give it a try. My testing efforts are also rather limited as I have only an iOS device.

[2017-02-02 16:26] bitjson commented on #59
Trying to thing about the other details –

We would probably also need to add at least one status object property for the functionality – maybe something like `canZoom` to describe if any optical zoom is available on the current camera, and the `setZoom` method could take a number between 0 and 1 (minimum and maximum zoom level)? I think that would abstract it enough (not sure how the various OS A

[2017-02-03 13:57] LoneyGG opened #62 "Using with Ionic: making the background transparent in Ionic 1"
So i managed to get the plugin working all fine and reading the QR's really good but my proble comes with the preview, im not able to make all the ionic bullshit to be transparent, i need help.

[code]
thats the .html binded to the controller where i call QRScanner.show();

The thing is that the ionic ion-view has a inherit class called "pane" that puts a background, i dont know how to remove that

[2017-02-03 17:11] bitjson commented on #62
Hey @LoneyGG – you'll need to override the CSS in Ionic as necessary. Depending on what parts of Ionic you're using, it should be relatively easy – here's how [Copay](https://github.com/bitpay/copay/) does it: https://github.com/bitpay/copay/blob/master/src/sass/ionic.scss#L11

The simplest solution is to add to your custom CSS (included after Ionic) statements which override backgrounds you don't

[2017-02-03 17:14] #62 closed

[2017-02-08 12:58] yoprogramo opened #64 "How to cancel scanning on ios"
Hello,

I have a cordova project running well on iOS and Android. When someone wants to cancel the scanning, in Android I can do capturing the backbutton, but iOS have not such button/event, so, how can I make the user be able to cancel the scanning?

[2017-02-08 23:55] dcousens commented on #64
@yoprogramo add a HTML tappable icon,  say an `X`,  in the corner,  and if that icon is tapped, close the camera.

[2017-02-09 00:17] bitjson commented on #64
Yep, @dcousens's solution would work.

The purpose of this plugin is to give you fine-grained control over the camera UX. If you are less concerned about the interface, you might find that [phonegap-plugin-barcodescanner](https://github.com/phonegap/phonegap-plugin-barcodescanner) fits your needs better (few options and a one-size-fits-all interface).

I don't think there's an issue with the repo

[2017-02-09 00:17] #64 closed

[2017-02-14 08:42] LarsBuur commented on #59
If the design of canZoom is using values between 0 and 1 to set the zoom then 0 would mean not zoomed (default) and 1 meaning max zoomed.

canZoom makes sense for ui purposes - but I am not sure if there even are cameras out there that does not allow zooming. Besides that my use case does not require optical zoom. Our problem is that if you bring in the camera to close then it gets blurry and cant

[2017-02-14 20:29] #7 closed

[2017-02-14 21:03] bitjson commented on #48
Thanks for sharing @dunkan23. I'm not sure if there's a better way of handling this within the plugin – it really just requires fine-tuning in your app.

I'm going to close this issue for now, but please let me know if I should reopen.

[2017-02-14 21:03] #48 closed

[2017-02-14 21:04] #33 closed

[2017-02-14 21:06] #41 closed

[2017-02-14 21:06] #42 closed

[2017-02-14 21:13] bitjson commented on #59
Ah, I hadn't considered that digital zoom might be valuable. It would probably be good to test that assumption first (since digital zoom isn't actually improving image quality, I wonder if simply scaling the image will assist in decoding the QR code at all).

If it is valuable, I'd say a good option for modifying the API would be to define `zoomFactor` values between `0` and `1` as optical zoom, a

[2017-02-14 21:21] bitjson opened #66 "Add screenshots to readme"
We should add some screenshots of the QR scanner in use with various UIs. Might help to get the message across that the UI is implemented in browserland.

[2017-02-14 21:21] bitjson commented on #66
If anyone is willing to contribute a screenshot of `cordova-plugin-qrscanner` working in your app, please drop it in this issue!

[2017-02-15 16:51] sebhorin commented on #48
I also had some white screen problems I fixed using it in this order:

[code]

[2017-02-17 17:05] gabrielbazan7 opened #67 "destroy() turns the scanners black on windows phone"
Steps when trying the test-app:

QRScanner.prepare()
QRScanner.show() -> works ok
QRScanner.destroy()
QRScanner.prepare()
QRScanner.show() -> black background

[2017-02-17 17:14] gabrielbazan7 opened #68 "Windows Testing issue"
When testing windows, Windows platform is not added automatically.
You have to run `cordova platform add windows` before `npm run test:windows`

[2017-02-17 17:17] gabrielbazan7 opened #69 "Click sound when using the scanner"
When I'm scanning a click sounds appears. And stops when I cancel the scanner.
Device: Microsoft Lumia 640. On test-app

[2017-02-17 17:20] gabrielbazan7 opened #70 "Remove Husky"
When the plugin is installed on the Copay project, I'm getting this error when trying to commit on Windows OS:

[code]

[2017-02-21 18:12] gildebrand commented on #47
Has anyone been able to resolve this? Would very much like to be able to use this plugin together with Crosswalk on Android, and would happily look deeper into implementing it in this plugin if I only knew where to start!

[2017-02-25 14:56] fhbmax opened #72 "Deprecated URL.createObjectURL(stream) is used"
Chrome 57 beta logs the following warning when scan() is called:

[Mozilla Devoloper Network:](https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL)

[2017-02-27 21:43] Malkiat-Singh opened #73 "ionic2 IOS 10 not able to preview"
HI
I have spent 4-5 hours to make this plugin working in ionic2 on ios 10
But only visible when I remove the ion-nav component

Why you guys wasting community time if this plugin does not support ios just put in readme.md

Also I want ti mention that the scanning process is working only the preview is not visible

Please reply asap.
Waiting for response

[2017-02-27 21:48] Malkiat-Singh commented on #73
here is code to view
https://github.com/Malkiat-Singh/qrScanner
thanks

[2017-02-27 23:21] gabrielbazan7 opened #74 "Destroy function not working windows phone"
QRScanner.destroy function makes the scanner black in windows phone.

[2017-03-03 19:27] keoir opened #75 "Error when using PhoneGap Build Cloud"
I have been working all morning on getting this working, and need some help if anyone can lend a hand!

When you put the plugin into the config.xml and attempt to build it on PhoneGap Build it throws an error about the SWIFT needing a legacy version. Currently I am building with swift 3.0, what does this need? Or do I need to add a preference to make the plugin work?

- keoir

[2017-03-04 12:26] barneydunning commented on #75
I get this too... can anyone help?

[2017-03-08 23:02] doppelganger9 commented on #73
Hello, I think you have to first call QRScanner.prepare before calling QRScanner.scan

I managed to make it work with Ionic2 and iOS 10.2.1 :
- Everything works (switching lights, switching cameras, pausing previews, hide/show preview, scanning, stop scanning, etc.).
- I did have to change the styles of ion-app (which have a white background), ion-content, ion-nav (div with nav-decor class), which

[2017-03-13 16:46] trinvh commented on #73
Hi @doppelganger9 , can you share the working code you're using ? I can't make it works too.

Via readme:

No video element was created, no preview.

[code]

[2017-03-13 17:20] trinvh commented on #17
+1

This should allow user define the limited area should be scanned and previewed by absolutely cordinates, such as https://manateeworks.com/barcode-scanner-sdk

[2017-03-15 10:36] Ethan9001 commented on #73
@doppelganger9 Hello，I would like to know how you solve the html element transparent problem; in iOS, I always can not solve the problem with a white screen, even though I set the background are transparent. However, when I debug the time to trigger an element of white screen will disappear.

[2017-03-15 13:26] doppelganger9 commented on #73
I'm working on a sample app for you ;-)
I'll let you know when it is available...

[2017-03-15 13:51] Malkiat-Singh commented on #73
@doppelganger9  you can start with
https://github.com/Malkiat-Singh/qrScanner
Thanks

[2017-03-16 03:20] Ethan9001 opened #76 "How to make iOS re-render the webview background as transparent"
I have used a lot of ways to set the element transparent, still no effect. But in the debugging time, switch the background when the transparent style will be successful. Said do not understand

[2017-03-16 07:35] trinvh commented on #73
I confirm this works. I don't find where's new DOM element created but @doppelganger9 was right :)

@Malkiat-Singh you'll need style to transparent these elements:

[code]

[2017-03-19 09:33] fahadpathan opened #77 "Objective C code"
Hi,
I am having issue with integration of swift file in objective c project.
Please help me with objective c .h and .m files.

[2017-03-21 01:28] mljsgto222 commented on #76
I fixed that by change the position of a element after QrScanner.show().Test on iOS 10.2 and 10.3.
I think this is because webview does not render elements that are under opaque elements, so you need to trigger reflow to render it, and setting background will only make it redraw the element.

[2017-03-22 12:36] smithmeisterUK commented on #75
Me too:

=== BUILD TARGET QRScan OF PROJECT QRScan WITH THE DEFAULT CONFIGURATION (Release) ===

Check dependencies
“Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure the build setting directly.

** BUI

[2017-03-23 13:44] fahadpathan commented on #77
I was trying to compile swift code in xcode 7.3.1, then I tried with xcode 8.3.1 and worked.

[2017-03-23 13:44] #77 closed

[2017-03-23 13:46] fahadpathan commented on #76
How you have changed the position?

[2017-03-23 14:04] mljsgto222 commented on #76
@fahadpathan The body position is 'fixed' In the Ionic, so I just changed it to 'static' in callback of QrScanner.show().

[2017-03-24 05:11] fahadpathan commented on #76
@mljsgto222 I have added background ''transparent' inside QrScanner.show();.

[2017-03-24 16:13] h-evers opened #79 "Installation / testing issues"
I had some issues with the installation for testing the plugin - just in case i'm not the only one.

1. gulp dependency is not noted anywhere (i use grunt), so i had to install.
Of course you can see from gulpfile.js and reading the output, but it may be helpful to note that.

2. webpack dependency seems to be tricky, i had to downgrade to exactly "2.1.0-beta.22".
Not sure why exactly it did not w

[2017-03-25 04:36] mljsgto222 commented on #76
@fahadpathan I mean you need to trigger Webview to reflow. I changed the body position, you can also use other ways. But changing background will only trigger the browser to repaint.

[2017-03-27 06:51] fahadpathan commented on #76
@mljsgto222 Yes I repainted browser, as we need customer layout for QR Code similar to WhatsApp QR Code scanner.

[2017-03-31 06:23] stefanhuber commented on #73
I have added something like this inside the respective component

[code]

[2017-04-03 18:52] gabrielbazan7 commented on #79
Yes, you have to downgrade to exactly "2.1.0-beta.22". I send a PR fixing that issue.

https://github.com/bitpay/cordova-plugin-qrscanner/pull/78

[2017-04-04 09:45] n00dl3 opened #80 "QRScanner.scan's callback should receive an error if the user cancels the scan"
If you cancel the scan, there is no way to know that the user has canceled the operation... the scan callback should be called with an error parameter like `ABORTED_BY_USER`.

It's very painful when working with rxJS, for example.

BTW: thank you for this plugin, it is great.

[2017-04-04 15:51] bitjson commented on #79
1. @h-evers – did you see the [contributing & testing info here](https://github.com/bitpay/cordova-plugin-qrscanner#contributing--testing)? When you `npm install`, gulp should be installed properly. Did that not work?

2. Thanks for the note – we should try to get Webpack updated to the latest version, 2.1.0 was quite a while ago. Tracking in #78.

[2017-04-04 16:00] bitjson commented on #80
Hey @n00dl3 – thanks!

I'm not sure if I understand entirely – the [`SCAN_CANCELED` error](https://github.com/bitpay/cordova-plugin-qrscanner#possible-error-types) is returned to the `scan` callback if the scan is canceled – is that what you're looking for?

Is it possible for an end user to cancel a scan without [`cancelScan`](https://github.com/bitpay/cordova-plugin-qrscanner#scan)? The plugin d

[2017-04-04 16:01] bitjson commented on #79
I'm merging this into #78 for now, but @h-evers please let me know if you're seeing something unexpected/undocumented for item (1.) above!

[2017-04-04 16:01] #79 closed

[2017-04-04 16:05] bitjson commented on #76
Hey @fahadpathan and @mljsgto222 – were you able to solve this issue? Making the webview transparent in iOS is somewhat finicky, and depending on your app, you might need to do some adding/removing CSS elements to trigger the view to be redrawn as transparent. You can see https://github.com/bitpay/copay for an example. (Links to the live version in app stores here: https://bitpay.com/wallet)

If y

[2017-04-04 16:06] bitjson commented on #75
Hey all – thanks for sharing. I don't have a good way of testing in that system, but I have a feeling it will be fixed by: https://github.com/bitpay/cordova-plugin-qrscanner/pull/81

Do you have a way of testing with that pull request?

[2017-04-04 16:10] bitjson commented on #74
Of note – I think calling the `destroy` method should change the background to white on all platforms. It currently does that on `iOS` and `browser`, not sure about `android` (charging a device to test..)

So when we fix this, lets make sure the background turns white.

[2017-04-04 16:14] bitjson commented on #73
Thanks for sharing your solution @stefanhuber 👍

For anyone having trouble, you can also see how Copay implements this (albeit in Ionic v1 currently – upgrade happening soon) here: https://github.com/bitpay/copay

If anyone has any ideas for how we can improve the documentation to make this clearer please let me know. Otherwise, I think this is solved, so closing for now. (Please let me know if I

[2017-04-04 16:14] #73 closed

[2017-04-04 16:15] gabrielbazan7 commented on #74
The problems is the scanner doesn't turn on after the QRScanner.destroy function is called.

[2017-04-04 16:16] gabrielbazan7 commented on #74
Steps when trying the test-app:

QRScanner.prepare()
QRScanner.show() -> works ok
QRScanner.destroy()
QRScanner.prepare()
QRScanner.show() -> black background

[2017-04-04 16:18] bitjson commented on #70
We're using husky just to enforce commit conventions – now that Github allows "Squash and Merge", we could even remove it. (Might make things a bit less complicated for new contributors.)

[2017-04-04 16:20] bitjson commented on #68
Sounds like it's being missed in the npm scripts? Someone want to send a pull request to fix it?

[2017-04-04 16:21] bitjson commented on #67
Merging here: https://github.com/bitpay/cordova-plugin-qrscanner/issues/74

[2017-04-04 16:21] #67 closed

[2017-04-04 16:29] bitjson commented on #72
Thanks for opening an issue! This project uses [`webrtc/adapter`](https://github.com/webrtc/adapter) to polyfill functionality properly. We're up to date with the latest version, so I don't think we need to do anything here. If you'd like it to be corrected, you might want to open an issue there. When a new version gets released, we will definitely update to the latest.

I'm going to close this fo

[2017-04-04 16:29] #72 closed

[2017-04-05 08:45] ricopo1 opened #82 "Getting full opaque camera view"
If you can help I asked about the problem here:

http://stackoverflow.com/questions/43225506/cordova-cordova-qrscanner-plugin-opaque-camera-view

[2017-04-06 07:33] n00dl3 commented on #80
Yeah, I was looking for the `SCAN_CANCELLED` error, it was right there and I didn't see it. It seems I didn't receive it when the scan is cancelled. Nevermind, I'll investigate and reopen if that's really the case.

[2017-04-06 07:33] #80 closed

[2017-04-07 15:15] nacardin commented on #69
I have resolved the issue by using `GetPreviewFrameAsync` instead of `CapturePhotoToStreamAsync`. `CapturePhotoToStreamAsync` causes a shutter sound on Windows 10. I will make a combined PR which fixes this and other issues.

[2017-04-07 16:44] bitjson commented on #66
Just added screenshots for both of BitPay's projects: https://github.com/bitpay/cordova-plugin-qrscanner/commit/14ed4dc8aa8f9f5c622129ba2da0ee2080fa3eec

Could anyone else provide screenshots of the scanning interfaces you've developed? If you wouldn't mind uploading a screenshot to this GitHub issue (and providing a link if your project is public), I can get it included in the readme.

(Maybe @to

[2017-04-07 20:19] Naki21 opened #83 "Can I use without cordova?"
I am developing a web app and I hope to implement a qr scanner. I came across this library and it looks very robust. I installed it via npm and tried to require('cordova-plugin-qrscanner') as I have done with my other npm modules. I am kind of confused as to how this library can be integrated into my App or if its even possible. I am not using any front end frameworks. Am I completely missing some

[2017-04-07 20:59] bitjson commented on #83
Yes, you should be able to simply include the minified library on the page, and the proper methods will be added to the window object. It's distributed as in [UMD](https://github.com/umdjs/umd) format, so it should also work as expected with your CommonJS project.

Be sure to check out the [Browser readme section](https://github.com/bitpay/cordova-plugin-qrscanner#browser) platform for specific no

[2017-04-07 21:03] bitjson commented on #83
On another note – if you're trying to require it, your CommonJS loader may be looking inside `package.json` for a `main` field, which I'm just realizing isn't defined. Looking into that now.

[2017-04-07 21:13] bitjson commented on #83
Ok – I just added the property in this commit: https://github.com/bitpay/cordova-plugin-qrscanner/commit/955e375c7d9766a106a6b6f65c0f204fe430fc20

It should be included in the next release of `cordova-plugin-qrscanner`. Until then, you can get it working by adding the property to the `package.json` file in `node_modules/cordova-plugin-qrscanner` like in the commit:

[code]

Please let me know if t

[2017-04-07 21:36] bitjson commented on #82
I took a shot at answering it – hopefully that helps!

[2017-04-07 21:36] #82 closed

[2017-04-07 22:55] Naki21 commented on #83
You beautiful, beautiful unicorn man. Seems to have worked like a charm This is going to work wonders in my app. This is by far the most robust and well maintained qr scanning library I have found. I appreciate the help and speedy response

[2017-04-07 22:55] #83 closed

[2017-04-07 22:56] bitjson commented on #83
Glad to hear it, thanks for opening the issue!

[2017-04-10 12:42] h-evers commented on #79
I now had the time to do a fresh installation and tried again. I missed the needed

i did last time after some peeking around. Thats obvious for people working with gulp - but not for grunt users (although i did similar for grunt a long time ago then).

[2017-04-10 18:43] bitjson commented on #79
Hey @h-evers – you shouldn't ever need to install or run gulp separately for this repo, gulp is only used internally by the npm scripts. Hope that clears things up!

[2017-04-11 11:58] h-evers commented on #79
Does not work here (OS X 10.11.6) - i don't know exactly why. Fresh install

fails with

"Invalid configuration object. Webpack has been initialized using a configuration object that does not match the API schema. configuration.output.path: The provided value './src/browser' is not an absolute path!"

Somehow i managed to get over this error, but i cannot say which step helped. Maybe it had nothin

[2017-04-11 23:19] jrahma opened #85 "Why I am not getting scan screen?"
Hi,

Using below code, why nothing is happening when I run this function?

[code]

[code]

Thanks,
[Jassim](https://www.softnames.com)

[2017-04-11 23:54] nathan8899 opened #86 "Install failed because of file not found"
failed to install the plug in due to the following error.

ENOENT, no such file or directory 'C:\Cordova\TestingProject\plugins\cordova-plugin-qrscanner\www\www.min.js'

[2017-04-12 22:42] Naki21 opened #87 "Browser usage on mobile."
So I have been developing a web application which will primarily be used with mobile devices. I deployed my site to GitHub to test it on a phone. It doesn't seem to pickup the front camera. It should pick it up automatically no? I'm using chrome on a Nexus 6 but I have Co firmed its not working on iPhone either. Im also getting the warning "unknown constraint facingMode"

[2017-04-19 21:47] #87 closed

[2017-04-19 21:49] Naki21 commented on #87
I was able to switch the camera by adding a camera swap button so it seems like its a matter of configuring it so that it defaults to the front camera on mobile.

[2017-04-19 22:23] Naki21 opened #89 "No scanning on mobile browser"
I'm back. I am having issues getting the scanner to work on my mobile phone in the browser. I can't seem to get the scanner working on my phone when I have it deployed on github. I have got it to work from the browser but this too is very unreliable(Renering black screen on `QRScanner.show()` randomly, not scanning consistently). It also seems to crash when the camera is open and 'scanning' for to

[2017-04-19 23:08] globophobe commented on #89
I'm not a developer, so don't trust everything I say. Anyway, black screens can mean there was no data from the camera. If the camera crashes, this is a further indication something could be wrong with the camera.

If this is the case, it would be nice if the scanner could warn, for example, that there is no data, etc.

Taking too long to scan can be the result of many things, including ambient li

[2017-04-20 18:16] Naki21 commented on #89
I dont think it is the camera. Again i have it working locally on the pc browser and I have used the mobile browser with other scanning android and web apps so the camera shouldn't be the issue. I'm thinking it may be something to do with how I'm calling the code and maybe there is a loop I'm not ending which is causing using all the memory and then causing the crash. Also on a semi-related note.

[2017-04-21 15:05] #69 closed

[2017-04-22 08:27] akilah007 commented on #85
Same issue
authorized:true
canChangeCamera:true
canEnableLight:true
canOpenSettings:true
currentCamera:0
denied:false
lightEnabled:false
prepared:true
previewing:true
restricted:false
scanning:true
showing:true

[2017-04-24 17:12] bitjson commented on #85
@jrahma, @akilah007 – did you read [the documentation on the `show` method](https://github.com/bitpay/cordova-plugin-qrscanner#show)? Also take a look at [this Stack Overflow issue](http://stackoverflow.com/questions/43225506/cordova-cordova-plugin-qrscanner-opaque-camera-view/43287423#43287423).

[2017-04-25 07:17] Kradre commented on #86
Same here, tried to install directly from git repo and this error happend.
It because of dep in plugin.xml :

` <js-module src="www/www.min.js" name="QRScanner">
    <clobbers target="QRScanner" />
  </js-module>`

Any ideas where to link this?

[2017-04-27 10:34] vajura opened #91 "Cant get camera preview to work"
http://imgur.com/a/jrnpc what i currently get.

I am calling QRScanner.prepare and it returns authorized but after calling QRScanner.show() i only get what you see in the picture.

[2017-04-27 15:13] bitjson commented on #91
It looks like you're trying to use the webRTC version on Android. Did you install the Cordova plugin, or are you importing the javascript library? See [Get Started](https://github.com/bitpay/cordova-plugin-qrscanner#get-started) for details.

If you install the Cordova plugin, you won't need to import any JavaScript.

![4q3gt9m](https://cloud.githubusercontent.com/assets/904007/25490212/1ffa9c96-2

[2017-04-27 15:13] #91 closed

[2017-04-27 15:17] bitjson commented on #86
You'll need to install from Cordova/NPM, the github repo doesn't have the built javascript files committed.

If you absolutely have to install from GitHub, you'll need to build the files yourself. You can `npm run build` inside `node_modules/cordova-plugin-qrscanner`.

[2017-04-27 15:17] #86 closed

[2017-04-27 15:20] bitjson commented on #89
@Naki21 on what platforms/devices/versions are you experiencing issues? Could you provide a test case to reproduce? (a GitHub repo is best)

[2017-04-27 15:20] #85 closed

[2017-04-27 15:24] #76 closed

[2017-05-04 13:09] sasos90 opened #94 "SecurityError shown in the console on prepare, scan, ..."
Hi!

I am facing an issue when I want to use the QRScanner. I get some error which I can not debug, so I am becoming desperate.
The QRScanner object is defined and some methods work properly (cancelScan, etc.), but when it comes to the camera usage or something, when I use scan, prepare etc., then I get some error in the console like: "SecurityError" and that's all. Somewhere I also found the erro

[2017-05-05 16:51] zweipro-kleff opened #95 "no camera preview on ios 10.3"
I'm using the qrscanner with ionic 3 and I can't get rid of the white background covering the camera preview on ios 10.3.
getStatus() shows this:
[code]
Even without the preview the scanner actually scans. On android the preview is working fine. Both ios and android versions tested on real devices. One thing that's pretty strange is that if i connect the iphone to safari on my mac and change anyth

[2017-05-06 13:11] fahadpathan commented on #75
I have resolved it by using xcode 8.3.1

[2017-05-06 13:13] fahadpathan commented on #95
try adding css class as background transparent to to HTML, BODY and wrapper if any exclusively in qrscanner.show().

[2017-05-08 09:27] stefanhuber commented on #95
I had the same problem. I couldn't find a solution with css, however switching to WKWebView worked.

[2017-05-09 05:17] dcousens commented on #47
I think I've resolved it, will submit a PR ASAP.

[2017-05-10 04:40] dcousens commented on #70
@bitjson this is annoying when using `git clone` to install this plugin,  it proliferates the commit hooks to the parent project!?

[2017-05-10 11:07] zweipro-kleff commented on #95
Switching to WKWebView worked!

Thanks for the help!

[2017-05-10 11:07] #95 closed

[2017-05-11 15:05] Gillardo opened #97 "Support datamatrix"
Does this plugin support data matrix codes?

[2017-05-13 06:55] synergy1337 opened #98 "trouble loading plugin into project."
Hi,

im trying to import/use this plugin after i install it to my meteor (Angular 2) project:

I did both:
npm install --save cordova-plugin-qrscanner
and
meteor add cordova:cordova-plugin-qrscanner@2.5.0

then in my component.ts file i have the function below:

scanStuff() {

QRScanner.scan(displayContents);

function displayContents(err, text){
if(err){
// an error occurred, or the scan was canc

[2017-05-16 17:36] zweipro-kleff opened #99 "Inverted QR-Codes"
Is it possible to scan inverted qr-codes with this plugin? (white code on dark background)
If not, where would i have to look to add this functionality?

Thanks in advance!

[2017-05-22 14:35] RaiserWeb opened #100 "No video preview showing (black screen)"
Hi,
I cannot get the video to show. It is loading correctly, and I am able to scan a qr code. But I cannot get the video preview to display. I have been through my DOM layers, and applied background:none transparent on all of them, but still no preview is shown.

Same issues as here:
https://stackoverflow.com/questions/43907710/cordova-plugin-qrscanner-no-video-preview
https://stackoverflow.com/qu

[2017-05-22 14:46] RaiserWeb commented on #100
Brief update - I had an android emulator running, at the same time as loading in the browser. When I shut the emulator down, the web cam browser view kicked in.
All I needed to do was then set my app div to have 0 opacity.

[2017-05-31 08:12] Prenoult commented on #99
You probably tested by your own, but I can guarantee now that this plugin can scan inverted QR codes ! 👍

[2017-06-06 04:55] agrath commented on #41
@dcousens

I'm getting this error message when building via build.phonegap.com with this plugin included.
I can attach a full build log if it would help?

[2017-06-06 05:08] agrath commented on #41
Added:
[code]
To config.xml and build still fails, also tried `<preference name="swift-version" value="3.1" />` based on commit notes suggesting swift was changed to 3.1 recently.
[code]

[2017-06-06 05:33] agrath commented on #41
I've also tried the <preference> nodes under `<platform name="ios"></platform>` with both `<preference name="swift-version" value="2.3" />` and `<preference name="swift-version" value="3.1" />`
Just also tried including from 2.4.1 tag via git rather than NPM;
`<plugin spec="https://github.com/bitpay/cordova-plugin-qrscanner.git#2.4.1" source="git" />` and that fails with a completely different err

[2017-06-06 05:59] agrath commented on #75
I was commenting here: https://github.com/bitpay/cordova-plugin-qrscanner/issues/41

But I have been also trying to build using build.phonegap.com the past couple of days.
I've tried a few different things such as hinting at the swift version with `<preference>`

I also tried using the git master branch via `<plugin spec="...git"/>` but that gave a different error about not being able to find www.

[2017-06-06 06:12] agrath commented on #75
Okay, if I include via git, using this fork: `https://github.com/armenbadalyan/cordova-plugin-qrscanner` (which adds the www build files), if you use this plugin include: `<plugin spec="https://github.com/armenbadalyan/cordova-plugin-qrscanner.git" source="git" />`
But then further in the build it throws with:
[code]

[2017-06-06 13:54] RuiEEE commented on #95
How did you guys manage to change to WKWebView ?

[2017-06-08 06:51] agrath commented on #75
This appears to be a problem with xcode needing the swift version specified during the build. When you're building with build.phonegap the pbxproj file is not accessible.
https://github.com/ionic-team/ionic-native/issues/620 seems to have a way more technical writeup on how to fix the project file by hand, but that's not an option for build.phonegap.com as you can't edit that file directly.

I hav

[2017-06-08 17:43] braidiano commented on #75
Same problem here. Any solution?

[2017-06-13 06:38] agrath commented on #75
Hi all,
I have had a reply on the Adobe community forums.
Phonegap build does not support cordova hooks, and cordova-plugin-swift-support is a cordova hook - so this is what is causing the issue here.
I wonder if we need this at all for phonegap build as it has it's own mechanism for setting the swift version?
Can someone from the project team weigh in as I am not familar enough with xcode or swif

[2017-06-16 11:51] Robertbaelde opened #101 "NullPointerException"
First of all, thanks for the great plugin.

In the play store dashboard, the following crash reports keep showing up. Is this a bug in the implementation or in the plugin?

java.lang.NullPointerException:
  at com.bitpay.cordova.qrscanner.QRScanner$19.run(QRScanner.java:546)
  at android.app.Activity.runOnUiThread(Activity.java:5562)
  at com.bitpay.cordova.qrscanner.QRScanner.prepare(QRScanner.ja

[2017-06-26 10:15] zweipro-kleff commented on #99
Yeah, can confirm. I can scan now most of my inverted qr codes. Just one where the contrast between code and background seems to be too low doesn't work. But i guess that's ok.
No idea though why it didn't work when i first tested it.

[2017-06-26 10:15] #99 closed

[2017-06-28 16:49] RaiserWeb opened #102 "non issue"
White screen appearing on android device (Galaxy s7) on scan init

non issue

[2017-06-28 16:58] #102 closed

[2017-07-13 08:32] giscafer opened #103 "no camera preview on android phone"
QRScannerStatus
[code]

ionic info:

[code]

[2017-07-13 08:33] giscafer commented on #103
[code]

[2017-07-16 11:23] mehdirazajaffri opened #104 "error when running cordova build"
Element uses-feature#android.hardware.camera at AndroidManifest.xml:20:5-60 duplicated with element declared at AndroidManifest.xml

Element uses-permission#android.permission.CAMERA at AndroidManifest.xml:21:5-65 duplicated with element declared at AndroidManifest.xml

There are multiple entries in androidManifest.xml

<uses-permission android:name="android.permission.CAMERA" android:required="fa

[2017-07-16 12:52] SidaouiBilel commented on #104
I got the same problem. I fixed it by using either the qr code scanner or the barcode scanner it seems like you can't use both.

[2017-07-16 16:33] gabmwendwa opened #105 "How to make this plugin work with apache cordova (phonegap) project"
Hi,
I added this plugin to my apache cordova (phonegap) project and I can't seem to make it work. Is there a more detailed tutorial/example on how to implement this plugin?

[2017-07-17 09:02] qifanrui commented on #103
I have encountered the same problem, may I ask you to solve the no, if you have to solve whether you can tell, thank you!

[2017-07-17 11:20] giscafer commented on #103
@qifanrui not yet

[2017-07-17 17:48] mehdirazajaffri commented on #104
i am only using qr-scanner

[2017-07-19 09:23] Story5 commented on #103
I got the same problem.AnyOne knows?

[2017-07-19 10:37] Story5 commented on #104
zbar also conflict with qrsanner，remove one of them if you use both

[2017-07-19 11:17] nazrdogan commented on #105
I successfully make it work  :)  look at my gist.

 https://gist.github.com/nazrdogan/55cfd1d63e1d10e9ee390de32872dd5e

[2017-07-20 17:47] jabelcs opened #106 "install from npm or cordova registry doesn't support windows 10"
Hello all.

I'm developing a cordova app and I would like to use this plugin has it seems to be the must rubost to read QR Codes.

I installed this plugin using: cordova plugin add cordova-plugin-qrscanner.
Building for windows gives me this error: "Unhandled exception at line 5, column 1 in ms-appx-web://pt.dietmed.vademecum/www/plugins/cordova-plugin-qrscanner/src/windows/lib/qrScanner.js
0x800a

[2017-07-21 03:25] yanxiaodi commented on #103
I got the same problem. Nothing happens after the `show` method.

[2017-07-21 08:40] jabelcs commented on #106
Sorry, this plugin works perfectly on android but giving the error on windows 10.

I´m using Visual Studio 2015 with Cordova.

[2017-07-21 14:21] yanxiaodi commented on #103
I use BarcodeScanner instead of QRScanner. BarcodeScanner works well.

[2017-07-21 14:57] giscafer commented on #103
@yanxiaodi me too ,but BarcodeScanner is not beauty

[2017-07-21 15:11] yanxiaodi commented on #103
I use Chrome's inspect function to test the code. When the app call the `show()` method, nothing happens. But indeed, it can scan the QR code correctly, and the camera preview window is just hidden. If I refresh the page by clicking the refresh button on the toolbar of Chrome, the camera preview window shows. I don't know why. It seems like Ionic can't automatically refresh the page.

[2017-07-22 23:52] theknown opened #107 "Preview not working Android (Crosswalk) - Any Update?"
It all works fine on iOS. Perfect!

However, on Android (with crosswalk), the preview screen doesn't show.  I tried everything (in terms of making overlapping layers transparent). That is not the the problem.

Preview screen doesn't show.  When you hold a QR code in front of the camera though, it does throw the success event.  So apparently it is scanning for Android, but it doesn't display the ca

[2017-07-22 23:56] dcousens commented on #107
@theknown see how https://github.com/bitpay/cordova-plugin-qrscanner/pull/96 works for you... it isn't functionality.  But it can give you a working camera and preview.

[2017-07-23 00:19] theknown commented on #107
I'm not sure if I understand that correctly, but I just replaced the 2 files with the new ones in that thread (#96):
- www.min.js
- QRScanner.java

Still the exact same issue on Android.. No camera preview.

[2017-07-23 00:40] dcousens commented on #107
@theknown are you sure it re-compiled as required?  There are multiple copies made by cordova.

[2017-07-23 01:31] theknown commented on #107
I just tested again on multiple android devices with the modified code that you mentioned (#96).

Android now opens the camera preview in the app. However, the preview is a black screen all the time.

Again, holding a QR code in front of the camera and it throws the success event. But instead of showing no camera preview on Android, it now shows a completely black camera preview.

Thoughts?

[2017-07-23 10:23] dcousens commented on #107
@theknown apply https://github.com/dcousens/cordova-plugin-qrscanner/commit/be4376cda07ebfc1d412feec4807d62b16c85e81 - it was what I settled with.

[2017-07-23 11:17] theknown commented on #107
Still not working for me. Could I hire you to take a look at it on teamviewer on my computer @dcousens

I just sent you an email through your site.

[2017-07-24 15:52] justinhenricks opened #108 "Camera never appearing"
I am running Cordova 6.4 along with Sencha Touch. The plugin is installed successfully but when I call the scan() method the camera in iOS and Android is not popping up. I can see when I open up the object that it says scanning and camera showing is true, in yet I see not camera. Anyone know what could be going on here?

[2017-07-25 20:21] ivan94fi commented on #108
Hi, be sure to set every background transparent, as specified in docs, otherwise you will not be able to see camera preview. In my case i had to set the css property "background: none" to html, body and jQuery mobile page. Qhen it's done scanning, revert every background to what it was before.

[2017-07-25 20:58] ivan94fi commented on #101
Yes i'm experiencing this error too. It happens when i tap the scan button on my app. Sometimes it works fine, sometimes the app force closes (several times in a row before returning to work) and these errors appear on my logcat.
I "wrote a workaround", just to prevent the force close: a simple control on that mBarcodeView object to verify if it's null. If it actually is, i signal it in the logcat

[2017-07-26 07:13] Story5 commented on #108
There is no camera preview but can scan qrcode and  gain the text.I try to set every item background transparent but not work.Do I write the wrong code?
**html**file
[code]
**scss**file
[code]

[2017-07-27 07:27] ivan94fi commented on #108
As far as i can tell ypur code is incomplete ( there is also a typo: `.buttuon` should be `.button` ): as I said before, you should set `background:none` also to `<html>` element and to `<body>` element.

This is the code used in my app to make Camera Preview work: I actually use jQuery to dinamically change these css properties:

[code]

[2017-07-27 09:16] Story5 commented on #108
Thanks for your reminder of my write error. I just set the ion-content `background : none transparent` and got a transparent view.
**screenshot:**

![screenshot](https://github.com/Story5/qrscannerdemo/blob/master/image01.jpeg)

It is not similar to the the example image. There is no box in the middle

[2017-07-27 14:36] ivan94fi commented on #108
Yes, you have to add it yourself. Just create a transparent image with a box in the middle and set the image as background.
Below there's what i use in my app (it fits a 1080x1920 screen):
[Scanner background](https://user-images.githubusercontent.com/30447023/28675772-1f2f44dc-72e9-11e7-9560-70f21834700b.png)

[2017-07-28 00:49] Story5 commented on #108
Got it, thank you very much.

[2017-07-28 06:04] nguyenpc opened #109 "QRScanner.scan() only fire once to subscriber"
I'm writing an application to regconize a user from JSON text inside QR code. In my application, I want QRScanner keep scanning and emiting result to subscriber if received result is not a valid json (or json structure is not valid).
Following is my scan function

[code]
But I only got result for first scan even I haven't unsubscribe the Scan observable yet.

[2017-07-29 02:20] anassfiqhi opened #110 "Plugin issue i can't scan"
please i need help . I can't scan QRcode , the prepare method works but scan method dosen't work
this is my code i'm using onsen ui framework with angular

`  <script>
    ons.bootstrap()
      .controller('HelloController', function($scope) {
        $scope.world = 'World';
        $scope.scan = function() {
                  // For the best user experience, make sure the user is ready to give yo

[2017-07-29 02:27] anassfiqhi commented on #110
`
![html](https://user-images.githubusercontent.com/9436806/28741441-8fd189e2-7448-11e7-9d99-83cf6b7c95fa.png)
![js](https://user-images.githubusercontent.com/9436806/28741442-8fdc382e-7448-11e7-9d6a-1905c9e503cd.png)

`

[2017-07-29 08:28] ivan94fi commented on #108
You are welcome!

[2017-07-31 10:21] romanrast commented on #108
hi Story5 could you share your code as a starter template? Would be amazing!

[2017-08-01 01:25] Story5 commented on #108
@romanrast Hi, romanrast. here is my demo ([qrscannerdemo](https://github.com/Story5/qrscannerdemo)), I just achieve showing a camera preview, but haven't code for a qrscanner view with a scanner background. Hope it can help!

[2017-08-01 20:49] gabrielbazan7 commented on #95
Try adding this to your sass file :

[code]

[2017-08-02 14:55] gabrielbazan7 commented on #106
Hi.  This are the steps to make the scanner works:

1. Install the plugin
2. cd plugins/cordova-plugin-qrscanner
4. remove this `^` from webpack dependency on package.json (bitpay/cordova-plugin-qrscanner#78)
5. then run `npm i` inside `plugins/cordova-plugin-qrscanner ` folder
6. then `npm run build`
7. Go to root
8. rm -rf platforms/windows
9. cordova platform add windows

10. Add to cordova pro

[2017-08-03 08:48] kongyim opened #111 "android:required only works for <uses-feature> not <uses-permission>"
Please check plugin.xml line 23

the android:required field is useless, please remove it.
Manifest merger will fail with multiple errors

from
`<uses-permission android:name="android.permission.CAMERA" android:required="false" />`

to
`<uses-permission android:name="android.permission.CAMERA" />`

Otherwise, if other plugin having android.permission.CAMERA permission will have merge conflict

[2017-08-03 12:56] franzisk commented on #103
Same problem here, camera not showing.

This code:
[code]

Returns:
[code]
Maybe the problem is this "currentCamera" option showing zero.

My style:
[code]

I have an image on the background with a transparent square on the center, but the camera never is shown.
![scanner-page](https://user-images.githubusercontent.com/5133264/28922746-c4d26bc4-7831-11e7-873f-7190bf4b2aae.png)

What can I do?

[2017-08-04 01:50] Story5 commented on #103
I solve the camera-preview here https://github.com/bitpay/cordova-plugin-qrscanner/issues/108. Hope it can help

[2017-08-04 10:35] franzisk commented on #103
@Story5 would you have a print of your screen?
Did you have to set everything transparent?
I would like to have only the "content" transparent.

They way you did does not work for me (yet):
[code]

[2017-08-05 15:08] Story5 commented on #103
@franzisk Hi, here are my [qrscannerdemo](https://github.com/Story5/qrscannerdemo) and [screenshot](https://github.com/Story5/qrscannerdemo/blob/master/image01.png)
Did you set the `body` and `ion-app` with `style="background: none transparent;"`  in src/index.html ?
[code]
Camera preview will not be shown if you dont set.

[2017-08-05 17:21] franzisk commented on #103
@Story5 thanks, actually I had not set that, but how about the other pages? They will aso have a transparent background?

[2017-08-05 22:33] vinicius-dev opened #112 "Plugin not working on browser"
I'm trying a implementation on a pwa so its really necessary to work on the phone browser. It dont appear any errors on the console but the plugin dont seems to work. Any help?

[2017-08-06 11:35] danielo515 opened #113 "Providing a callback to show or hide leaves the background transparent"
Hello,

First of all, thank you for this great plugin, works flawlessly most of the time. However I found one weird behavior: I was using `Qrscanner.show` and hide without problems, everything was working as expected: transparent background on show and the opposite on hide, leaving me the task of modifying the body of the HTML file . Then I decided to provide a callback to every method so I can re

[2017-08-06 13:26] lasseron opened #114 "Scanning multiple codes at same time"
Hi, I'm implementing it for a mobile ticket scanner an in my case the camera often sees multiple QR codes at the same time. It seems that the plugin currently scans the code whichever it sees first and there is no way for the user to know which one was scanned. I can think of several solutions:

A. The scanner displays a visual clue (eg green rectangle) around the code which was scanned.
B. The sc

[2017-08-07 00:58] Story5 commented on #103
@franzisk I tried to push a qrscanner view and open camera perview, it works.
So you only need to set the index.html in src root directory and ***.html you use qrscanner.
See my (qrscannerdemo)[https://github.com/Story5/qrscannerdemo] also.

[2017-08-07 01:43] vinicius-dev commented on #109
Hello nguyenpc, your code seems to be coming from ionic. Could you inform the path of your import? How did you accomplished that?

[2017-08-09 17:28] raxim1 opened #115 "in chrome browser camera light does not turn on after hide"
in chrome browser camera light does not turn on after hide

MediaStreamTrack stop seems to me not working

[2017-08-09 18:54] raxim1 commented on #115
**I'm submitting a ...**  (check one with "x")
[X] bug report
[ ] feature request

**Current behavior:**
Camera is not turning off, when i'm calling hide.

**Expected behavior:**
scan is calling show already, so if you call the show independently like in the official example,
it make some sort of nasty problem, the stream reference will be killed but the value still exist,
so stopping track won't

[2017-08-10 05:26] shinuneo commented on #108
Hi,

I have tried this code but for me it is not opening camera for android as well as iphone any tips.
Thanks

[2017-08-11 01:11] ericprieto opened #116 ""QRScanner plugin is not installed" on iOS"
I have the plugin installed and working on the Android emulator and on my Android device, but when I try to run on my iPhone or on the iOS emultator, I receive the following message:

[code]

[2017-08-11 12:51] ericprieto commented on #116
Well... I don't know what I did, but now this warning isn't showing anymore, altought it's not working yet, the camera doens't open on iOS.

[2017-08-11 12:51] #116 closed

[2017-08-11 14:42] raxim1 commented on #103
It's totally buggy, i feel i just make crap. Camera light is not stopping, the preview is not showing up even if it's background transparent on body and app. It should be easier solution for this.

Anyway i dug into the android studio beta 1 - it's amazing. You can debug from native apk.
It's very useful for ionic app. (there are some minor bug in it)

You need to attache to a process manually qui

[2017-08-12 00:49] raxim1 commented on #108
There is a bug in the browser version. (browser version has got memory leak if you call show after scan, on android version you need to call show())

I have tested Story5 approach, which i think nice, but unfortunately not working.

There is a nav-decor in the css which should be transparent, i'm not sure, what is doing.
I have tested only in browser because i have hacked previously, but i think i

[2017-08-13 23:38] manoel-freitas opened #117 "Automatically let the view transparent"
The plugin works very well, but you have to manually make a CSS code to the html of the ion-content of the page and the ion-app, transparent. as i mentioned in this [thread](https://forum.ionicframework.com/t/ionic-qr-code-scan-not-opening-camera-for-ios-and-android-devices/101512/9) of the forum.

The problem is in the show() method of the plugin, where the method let the webview transparent, but

[2017-08-14 07:43] janpio commented on #117
This is about: https://ionicframework.com/docs/native/qr-scanner/
Discussion and code samples are here: https://forum.ionicframework.com/t/ionic-qr-code-scan-not-opening-camera-for-ios-and-android-devices/101512

Maybe the `show` method (and similar) could be changed to automatically change the CSS. If this is better done individually by each user, it should be added to the docs and made clear tha

[2017-08-14 12:50] laedanthehuman commented on #117
@janpio maybe adding the code of the discussion, maybe a litte better of the mine. in this method [https://github.com/bitpay/cordova-plugin-qrscanner/blob/0cb180ec9931dfe56348bdb3def0a9eebf4599ee/src/common/src/createQRScannerAdapter.js#L175](https://github.com/bitpay/cordova-plugin-qrscanner/blob/0cb180ec9931dfe56348bdb3def0a9eebf4599ee/src/common/src/createQRScannerAdapter.js#L175)

Can resolve

[2017-08-14 13:32] janpio commented on #117
This is the underlying Cordova plugin - you don't want to change that. Everything that refers to Ionic would be to specific.

If at all, you want to have something like this in the Ionic Native plugin: https://github.com/ionic-team/ionic-native/blob/master/src/@ionic-native/plugins/qr-scanner/index.ts#L144

But as the plugins only wrap the Cordova plugin, I don't actually think that there should b

[2017-08-14 13:43] laedanthehuman commented on #117
yeah, i think that too. A global sass Variable ?

[2017-08-16 12:39] Stukongeluk commented on #109
I think this is an observable subscribe issue. Correct me if i'm wrong but when an error is triggered, the subscription won't listen anymore, even if you catch it.
Still trying to find a fix for it though

[2017-08-18 20:03] ryuhhnn commented on #117
I'm having trouble getting this to display, not because of the background color, but because of the opacity. The opacity is set to 1 and doesn't allow the camera to show, but if I set the opacity to 0 it shows just fine. Anybody else have this issue?

[2017-08-21 02:23] Liminghao0922 commented on #108
I resolved this issue by adding the following css. Hope this can help someone.
.nav-decor{
  background-color: transparent !important;
}

[2017-08-30 12:41] kendricktan opened #118 "Unable to import QRScanner, using Webpack"
So I'm using webpack to bundle my files, but for some reason its giving me ' Error: Cannot resolve module 'QRScanner'`. Any ideas?

What I did:

1. cordova plugin add cordova-plugin-qrscanner
2. cd plugins/cordova-plugin-qrscanner
3. npm install && npm run build

Webpack config file:
[code]

[2017-08-31 20:23] EliArtist commented on #114
For the second B (i guess it should be C :D ) +1

[2017-09-14 23:41] mosh2151984 commented on #41
1- ionic platform remove ios
2- rm -rf plugins/
3- in config.xml

4- in package.json
"dependencies":{
.....
"cordova-plugin-geofence": "git+https://github.com/ypelud/cordova-plugin-geofence.git",
...
}
4- ionic platform add ios
5- Goto : ./platforms/ios/cordova
npm install ios-sim
6- finaly run
ionic run ios --livereload --consolelogs

[2017-09-15 04:17] itshu opened #119 "ios platform can't preview,why????"
backgroud  all set.

[2017-09-15 06:13] bvoiturier opened #120 "Conflicts using both ‘QR Scanner’ and ‘Google Maps’ cordova plugins in same iOS app?"
I’m trying to use both **qr-scanner** & **google-maps** cordova plugins in the same **iOS application**.

They both work pretty well when used alone but give issues when mixed in the same application.

The problem is; After a cold start of the application, I first move to a map view where the map is displayed correctly. I then move to a QR scan view where the Camera stream is displayed correctly.

[2017-09-15 08:10] itshu commented on #120
my ios app can't preview camera，what did you do?

[2017-09-15 09:14] bvoiturier commented on #120
You have to make sure that all DOM elements ancestor of the view where you want to display the camera have **style="background none transparent"** defined. The iOS native camera view is inserted by the plugin behind the cordova web view and you therefore need this in order for it to be visible from your app view...

[2017-09-15 11:38] reliy0n commented on #120
I have same problem. When I start  the qr-scanner, google-maps is disappear.

[2017-09-20 10:44] aramando commented on #111
Yes please remove this as it seems to be causing this plugin to not play nicely with others that also use the camera. I just had to remove and re-add my whole Android platform to stop duplicate entries being created in my AndroidManifest.xml and failing the build.

[2017-09-21 05:28] jlf123 commented on #117
@ryuhhnn what element are you setting the opacity to 0?

[2017-09-22 10:23] Nauzer commented on #107
I had the same issue.
It is because the z-order of Webview vs de Camera preview.
Adding the following helped to show preview on Android with Xwalk:

for config.xml (if regular Cordova project)
`<preference name="xwalkZOrderOnTop" value="false" />`

for meteor mobile-config.js (for meteor project)
`App.setPreference('xwalkZOrderOnTop', false);`

[2017-09-22 10:30] Nauzer commented on #47
If you are experiencing problems with Xwalk - especially showing preview you need to adjust your config.xml.

for config.xml (if regular Cordova project)
<preference name="CrosswalkAnimatable" value="true" />

for meteor mobile-config.js (for meteor project)
App.setPreference('CrosswalkAnimatable', true);

[2017-09-22 17:23] m1xf1t opened #121 "THREAD WARNING: ['QRScanner'] took '468.501953' ms. Plugin should use a background thread."
Hi there,

I'm having issues using the QR Scanner with Ionic.

## **ERROR OUTPUT:**
`THREAD WARNING: ['QRScanner'] took '468.501953' ms. Plugin should use a background thread.`

## **App Module:**

[code]

## **Markup**

[code]
## **Home Typescript**

[code]

[2017-09-22 17:43] m1xf1t opened #122 "Plugin should use a background thread."
Hi all,

When trying to use the QRScanner for Cordova I always get the following ERROR:

Are any of you receiving this same error?

[2017-09-25 21:25] kemmo commented on #117
Thanks to @ryuhhnn. I've the same issue, and I've spent lot of time trying to fix it with the background color. At the end setting the ion-app element with "opacity:0" fix that and I can show the camera preview properly.

[2017-09-26 04:12] Kasun002 opened #123 "How to use in type script?"
I was working on Angular 4 i need to add this plugin to angular 4 projects.I directly converting angular project to Cordova.How use this inside type script

[2017-09-28 17:37] bensearle commented on #103
There is a div, with class=“nav-decor”, which has a black background, this needs to be changed to transparent.

My solution was to have a “cameraView” class, which would set the ion-app, ion-content and .nav-decor to have a transparent background.

I used this CSS
[code]

And then these functions to show the camera after qrScanner.show() and hide it after I’m finished scanning
[code]

[2017-09-29 12:47] julioaze opened #124 "What is the minimum version of Android to use this plugin?"
What is the minimum version of Android to use this plugin?

[2017-10-03 14:02] netinkumar opened #125 "No video preview showing (black screen) on ios"
i am using this plugin in ionic 2. camera preview is there in android but in ios i am getting a black screen and no preview.

[2017-10-07 23:32] cgodley commented on #120
@bvoiturier @reliy0n Making the change below fixes the problem for me. So it seems that the `cameraView` is being inserted above the map and this causes the problem.

Not sure if there's a good reason the camera is being inserted directly below the `webView` or if using `at: 0` is acceptable for people who aren't using the Google Maps plugin.

QRScanner.swift, line 133:
[code]

[2017-10-08 17:04] cgodley commented on #120
Actually, it seems I had other changes in my working copy. It turns out that the minimal solution was to replace all of the code (in both plugins) that makes the `webView` background color white / opaque with code that makes the `webView` background color clear / not opaque.

I'll post the diff once I'm sure it's working correctly.

[2017-10-08 18:42] cgodley commented on #120
Making the change below seems to fix the problem for me (no change was needed to the google maps plugin):

[code]

Perhaps it makes sense to add a configuration option to give users the choice between a white/opaque background and a clear/non-opaque background.

[2017-10-13 04:51] amjadm61 commented on #89
I'm facing the same issue. It is working perfectly on desktop browser. But not working on mobile browser (tried chrome and firefox).
I'm getting this error message when I'm trying to scan a qr code from mobile browser:
`Error is Object {name: "CAMERA_UNAVAILABLE", code: 5, _message: "The camera is unavailable."} qrscanner`

This my code:
`startScan() {
    console.log('started qr code scanning');

[2017-10-13 13:36] bitjson commented on #89
@amjadm61 – the browser platform of the plugin should not work on mobile browsers. (Even if performance was acceptable, few mobile browsers support WebRTC.)

You'll need to use the cordova version of the plugin for the platform in question (e.g. the iOS, Android, or Windows platform). You can test it by building the cordova app.

[2017-10-13 17:33] pedrohymino commented on #125
Try this:

in app.scss
`html,
body.transparent-body,
.transparent-body,
.transparent-body ion-app,
.transparent-body .app-root,
.transparent-body ion-nav,
.transparent-body .ion-page, .transparent-body .nav-decor,
.transparent-body ion-content,
.transparent-body .viewscan,
.transparent-body .fixed-content,
.transparent-body .scroll-content
{
    background-color: transparent !important;
    backgr

[2017-10-18 06:25] Story5 commented on #119
you'd better post your relative code

[2017-10-19 23:17] blokeish commented on #100
You need to set the camera to be used by the emulator. This might help.. http://viralpatel.net/blogs/enable-camera-in-android-emulator/

[2017-10-28 23:45] MackEdweise opened #126 "Problems with iOS platform when working on Android and browser"
I have used this plugin to create a relatively simple QR scanner application that works perfectly on Android and in the browser. However, I have found that on iOS the plugin did not initialize. The QRScanner object was attached to the window but any calls to its functions, including QRScanner.prepare(), QRScanner.getStatus(), QRScanner.openSettings(), etc. all returned undefined and did nothing. T

[2017-10-30 15:25] Shuliyey commented on #125
Try remove the `QRScanner.prepare(function(err, status) {...})`

Also make sure to start scanning after the device is ready
[code]

[2017-10-30 20:01] sergiomedinavalentin commented on #120
I have the same problem on android and ios. Any solution without changing the plugin code? Please help!

[2017-10-30 20:06] cgodley commented on #120
@sergiomedinavalentin Since QRScanner is adding an opaque white layer that is obscuring the map, I'm not sure how it would be possible to fix without changing the plugin code.

If you want an example you can look at the fork I made: [https://github.com/cgodley/cordova-plugin-qrscanner](https://github.com/cgodley/cordova-plugin-qrscanner). Note that if you build the plugin and include the built fil

[2017-10-30 20:20] sergiomedinavalentin commented on #120
@cgodley When I try to add the plugin like this

```ionic cordova platform add https://github.com/cgodley/cordova-plugin-qrscanner```

I get this error

[code]

[2017-10-30 20:33] cgodley commented on #120
@sergiomedinavalentin I think you need to specify `.git` at the end. For example: `cordova plugin add https://github.com/apache/cordova-plugin-console.git`. Otherwise perhaps it is related to Ionic (I'm not familiar with it) or perhaps you have platforms other than Android and iOS?

[2017-10-30 20:44] sergiomedinavalentin commented on #120
@cgodley When I return to the map I still see the view of the camera. What am I doing wrong?

[2017-11-05 17:50] ycbayrak commented on #121
+1

[2017-11-07 18:46] ricardocamposilva opened #127 "[Deprecation] Unknown constraint named facingMode rejected"
I'm trying to scan but getting the Warning above, when I try to fire the event I get this deprecation message, but no success to open camera view.
There's another message but I don't know if it's also causing this issue.

URL.createObjectURL(stream) is deprecated! Use elem.srcObject = stream instead!

I'm using ionic 3.16.0
Chrome 62.0.3202.75 (Linux)

![issue1](https://user-images.githubuserconte

[2017-11-08 03:30] VinayKumarSarda opened #128 "How to stop camera after scan is completed"
Hi ,

The camera is still open after scan is successful. Please let me know how to stop camera after success scan.

[2017-11-08 17:43] Gianni2013 opened #129 "QRCode - get binary data"
Expected Behaviour

Method for read raw data of the scanned qrcode

Actual Behaviour

The method return only text.

Reproduce Scenario (including but not limited to)
![foto del 06-11-17 alle 12 59](https://user-images.githubusercontent.com/5710015/32564455-9caedc84-c4b4-11e7-90bf-37729a3b54b7.jpg)

after scanning this qrcode i expect this hex string:
58 a0 cb 00 00 20 10 6b 03 00 15 77 7c 2b

but

[2017-11-14 01:10] Huiting-Yeong opened #130 "How to display QR Scanner Box overlay?"
I am able to successfully scan a QR code.

Would like to ask is there a feature to automatically display the QR scanner box overlay so users know where to focus there camera at?

Similar to the example screenshots at the readme.md page.

[2017-11-15 19:02] CWBudde opened #131 "Dependency of cordova-plugin-compat"
With the latest update the cordova-plugin-compat has been deprecated. It got integrated into cordova-android@6.3.0. For this reason I would like to suggest to remove the dependency for the QR scanner as well.

[2017-11-15 19:58] cedricsteiner commented on #131
Yes, please remove it. It prevents me from packaging on Ionic Pro at the moment. Thanks.

[2017-11-16 05:25] Fever905 commented on #131
Did something change recently with Cordova or Phone Gap? I had a QR scanner in  my app that now just doesn't load. Scrambling to debug or revert to a prior build.

[2017-11-16 13:23] yanglongji commented on #109
I don't think it's the subscribe issue. 'cause this was mentioned in readme.md below:

 Once a valid code is detected, it's contents are passed to the callback, and scanning is toggled off.

I want to scan serveral times too until I get the one needed

[2017-11-21 12:26] HugoHeneault opened #132 "Scan barcodes"
As you provide a really nice way of scanning QR code and keep the view behind the webview, it would be awesome that you support barcodes too 👍

There is an issue opened on the barcode scanner to use the same thing as you did but they doesn't seem to manage it as of now... https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/223

[2017-11-21 23:20] johnny9x commented on #103
Add the following lines into src/theme/variables.scss:

[code]

They make background of app transparent.

[2017-11-23 04:42] VinayKumarSarda commented on #128
Any help on how to stop camera after scan ???

[2017-11-23 10:38] ThijmenDF commented on #121
This happens for Cordova as well.

I got the message on an iPhone 5s
`THREAD WARNING: ['QRScanner'] took '10.020996' ms. Plugin should use a background thread.`

[2017-11-27 07:11] VinayKumarSarda commented on #128
HI Please need inputs as my camera is stilla ctive after scanning is done.

[2017-11-30 06:35] felix9607 commented on #130
Thats something i'd like to have too and I think it's nothing else then a transparent Background but I didn't really put enough effort into it to figure it out.

[2017-11-30 06:38] felix9607 opened #133 "Not scanning all types of QR Codes"
I sadly experienced that the plugin doesn't read all Kinds of QR Codes but I couldn't find any documentaton about this.

Is there any known statement about this?

QR Codes of [this page](http://www.qrcode-generator.de/) are recognized
immediately and others never.

[2017-12-01 10:05] #133 closed

[2017-12-04 05:42] red010b37 opened #134 "Safari 11 - Unhandled Promise Rejection: TypeError: Type error"
This does not work with Safari 11, createObjectURL throws and error put the promise is not handled.

Any suggestions?

[2017-12-06 00:22] Huiting-Yeong commented on #130
Does anybody know what is the ideal size restriction of the overlay box?

[2017-12-18 14:02] leftdead7 commented on #130
you ca use html to display a box overlay, However it will be just for show , the plugin may read the qr even if its not placed inside your box completely.
![1513605704347](https://user-images.githubusercontent.com/23002003/34109601-233a5104-e42a-11e7-9cd7-242b9ae7f4ad.JPEG)

[2017-12-24 13:26] RafaelKr commented on #132
+1 for this.

The underlying plugins (ZXing and AVFoundation) used by this cordova plugin are all supporting many types of barcodes, so this could be "easily" implemented for Android, iOS and Windows Phone, only the browser platform wouldn't support it. I privateley forked this and built in this functionality for my current project for Android, but it's not ready to publish yet and I don't know, i

[2017-12-25 00:59] HeroCC commented on #128
Does this work? https://github.com/bitpay/cordova-plugin-qrscanner#destroy

[2017-12-28 11:10] sherif-hfm opened #136 "The plugin convert all letters to upper case letters"
The plugin convert all scanned letters to upper case letters

[2017-12-29 07:48] HugoHeneault commented on #132
Actually, it's already working. You'll have to edit the plugins files manually, but it's worth it :)

For example, for ios, you can replace in
`platforms/ios/{{YOUR_APP_NAME}}/Plugins/cordova-plugin-qrscanner/QRScanner.swift`
[code]

by
[code]

For android, just add it in the formatList array of `platforms/android/src/com/bitpay/cordova/qrscanner/QRScanner.java`
[code]

This should be more documen

[2017-12-29 11:08] marcoamrebelo opened #137 "Installing plugin in OutSystems"
Following this [article](https://success.outsystems.com/Documentation/10/Extensibility_and_Integration/Mobile_Plugins/Create_a_Plugin_to_Use_Mobile_Capabilities_in_Your_Application) explaining how to install a custom Cordova plugin on the OutSystems platform I've tried to install the qrscanner and got the following error:

I've included the full error Log in the attached file.
[AndroidBuildLog.txt

[2018-01-04 09:23] VinayKumarSarda commented on #128
No @HeroCC

[2018-01-04 12:18] chph63 opened #138 "Browser javascript installation"
Hello I am trying to use it without cordova, as a simple javascript library with no success.
Following the readme intructions:
_"Or  alternatively, the library can be included in a page as-is, and the QRScanner will be made available at window.QRScanner.
<script src="path/to/qrscanner/library.bundle.min.js"></script>"_
I cannot get it to work.
It may be a dumb question but, is "library.bundle.min.

[2018-01-08 10:29] VinayKumarSarda commented on #128
any inputs @HeroCC @team

[2018-01-11 10:29] VinayKumarSarda commented on #128
Hi Team,

any inputs on how to close camera ?? in browser once the scan is success still camera is open.

[2018-01-12 14:13] nws-jstorm commented on #119
I was facing the same issue.. Fixed it by just reloading the page once the scanner is shown. Not a very nice solution, but it works now.. Looking forward for a better solution

[2018-01-16 08:43] Revo86 commented on #137
i have the exact same error

[2018-01-16 10:10] VinayKumarSarda commented on #128
any update @team @HeroCC

[2018-01-17 06:38] sonicwong commented on #132
@HugoHeneault

Original code in `platforms/ios/{{YOUR_APP_NAME}}/Plugins/cordova-plugin-qrscanner/QRScanner.swift` should be:

[2018-01-17 08:26] sonicwong commented on #109
I got the same case in iOS. It is not problem in android.

[2018-01-17 09:52] HugoHeneault commented on #132
@sonicwong Thanks a lot for your updates. I edited my post. 🍻

[2018-01-17 10:26] MissMonacoin commented on #138
i used following cdn library
https://www.jsdelivr.com/package/npm/cordova-plugin-qrscanner
at
https://github.com/MissMonacoin/monya/tree/master/docs/wallet/dist
unstable but worked on Chrome macOS
Safari doesn't work with original so i fixed by my own way. please see diff

[2018-01-18 03:57] MissMonacoin commented on #121
I got the same error too.
https://github.com/MissMonacoin/monya/blob/master/component/qrcode.js
Making methods asynchronous may solve problem but how can i do it? is there asynchronous one?
https://stackoverflow.com/questions/46242282/thread-warning-inappbrowser-took-175-479736-ms-plugin-should-use-a-backg

[2018-01-18 09:21] kevin-openc opened #141 "Do not have header on camera view"
hi, i am using the qrscanner to scan qrcode, however, when entered the camera mode, the camera occupied whole screen as below

![Occupied Full Screen](https://i.imgur.com/5AZ5v7O.jpg)

however, i would expect to have the screen like this

![Sample](https://cloud.githubusercontent.com/assets/904007/24809499/b192a246-1b8d-11e7-9f3b-e85ae480fdd6.PNG)

and here is my code

[code]

I cannot found any r

[2018-01-18 09:58] vosecek commented on #120
@cgodley thanks, it is possible to push this fix to master repository?

[2018-01-18 20:17] Cirivas commented on #120
I am facing the same Issue. This happens on ANDROID too. There is a solution without the need of recompiling the plugin by myself ?

[2018-01-18 20:35] sergiomedinavalentin commented on #120
@vosecek @Cirivas the last month I launched a pull request with the fix, but I think the repo is abandoned...

[2018-01-23 06:07] felixbroehl commented on #47
@Nauzer When i set `<preference name="CrosswalkAnimatable" value="true" />` in the config.xml my app crashes on start up on android. How can i resolve this? Ever experienced something like this? I'm using cordova-plugin-crosswalk-webview@2.3.0 and with the latest ionic.

[2018-01-23 07:02] felixbroehl commented on #47
<preference name="animatableXwalkView" value="true" /> not crashing the app ;)

[2018-01-29 16:40] blumk commented on #89
@bitjson All major browser support WebRTC, see [Can I use WebRTC](https://caniuse.com/#search=webrtc)
Apple updated Safari on Sept 19, 2017 with iOS 11.

Would be great to use this plugin within a PWA.

[2018-01-31 01:14] heartfelttech opened #143 "Compile errors in xcode 9.2"
xcode complains that the ios support is in swift2 and should be in swift3. It also says that conversion would require an older version of xcode.

Installed via `cordova plugin add cordova-plugin-qrscanner`

[2018-01-31 18:40] JuanNorsync commented on #134
Same for me

[2018-02-01 00:48] alextapia007 commented on #120
@sergiomedinavalentin
gracias. Tu branch trabajo excelente

[2018-02-02 17:19] jmargolese opened #144 "Install fails with Error: Cannot find module '../cordova/platform_metadata'"
Installing on Ionic results in a failure with:

There were [similar errors](https://forum.ionicframework.com/t/ionic-build-fails-with-error-cannot-find-module-cordova-platform-metadata/116108/10) with cordova-plugin-ios etc that are supposed to have been fixed and may show the error.

Workaround is to downgrade from Cordova 8 to cordova 7.1.0
  npm uninstall -g cordova
 npm install -g cordova@7.1.

[2018-02-03 05:43] rtalexk opened #145 "Question: how toggle on scanning after QR code is read"
Docs are clear, it says:

## [Scan](https://github.com/bitpay/cordova-plugin-qrscanner#scan)

I'm reading QR codes with specific format, but if that format is not matched I have to continue reading for codes until user cancel scanning or a valid code is read.

![image](https://user-images.githubusercontent.com/16341644/35763475-3116d950-086a-11e8-89f0-9e75c5366a0d.png)

How can I toggle on code sc

[2018-02-03 07:19] rtalexk commented on #145
For my particular case I did a workaround:

In the `constructor` I added this:

[code]

and `scanCode` method:

[code]

I'm using `recursion` to read again another `qr code`, but using `recursion` could be resource consuming so I added an `attempts` limit, three in this case. If the code that has been read does not match the format I need asks if there are still attempts, if so then call again its

[2018-02-03 14:30] ramah commented on #141
Hi
This post helps me
https://forum.ionicframework.com/t/qr-scanner-seems-to-be-working-in-the-background-but-doesnt-display-a-preview-when-calling-show/99822/6?u=ramah

[2018-02-06 00:50] globules-io opened #146 "ChromeOS no preview"
Just to let you know I've tested a running android app using this plugin on ChromeOS and the preview doesn't show. It does ask me for permissions as expected but then no preview. This app works on phones.
Any idea why it wouldn't work on ChromeOS?

[2018-02-06 07:24] nguyenpc commented on #109
I do agree with @Stukongeluk, it seems that the scannerSubscription unsubcribe automatically after detecting QR code.

[2018-02-06 09:43] Srijan1702 opened #147 "How to use this with Ionic 3"
Hi ,
I've been looking for a full screen QRScanner, which must use entire camera footage to scan qr and not just a part of the camera footage. Can I use this plugin with ionic 3 if no can you suggest me any other plugin that meets my requirement.

Thanks in advance...

[2018-02-06 17:52] sumitsaha commented on #132
@HugoHeneault are you sure that it works in Android? I just edited the plugin source code as you directed. But when I scan barcodes, no output or detection but QR code works!

I also tried adding all the available barcode formats like below but not working! Can you please help?

[code]

[2018-02-06 22:57] xaqtr opened #148 ""QRScanner is not defined""
I am using this plugin with an Ionic 3 App. It seems to work fine on Android and iOS but it throws the exception "QRScanner is not defined".

The error is pretty easy to reproduce:

`ionic start qr-test blank`
`npm i @ionic-native/qr-scanner --save`
`ionic cordova plugin add cordova-plugin-qrscanner`

Adding Windows10 as target in the config.xml:

`<preference name="windows-target-version" value="

[2018-02-10 10:27] idclev31 opened #149 "Can't build for ios in phonegap"
Hello!
I use phonegap for build my app.
I have sucessfull build for android (everything works fine)
But, i can't build for ios.
It say's 'Error code 65 for command: xcodebuild'
Is there some way to fix this?
Thank you.

[2018-02-10 19:00] peratik commented on #149
same issue please help

[2018-02-10 19:01] peratik commented on #144
same issue please help

[2018-02-11 15:09] adil-haddaoui commented on #144
Same issue here !!

[2018-02-13 14:10] iCodr8 commented on #144
Same Problem :(

[2018-02-14 13:14] LucyLucyy97 commented on #149
You can only build for iOS on a Mac, and you need to have Xcode installed

[2018-02-15 06:23] stevenwaskey commented on #149
`man sysexits`

See (65)
[code]

While I'm sure it's not always the case, in my experience, Error Code 65 has been related to Code Signing issues.

[2018-02-15 06:27] stevenwaskey commented on #143
You need XCode 8.* to convert Swift 2 -> Swift 3.  You can download XCode 8.3.3 which will run side-by-side w/ XCode 9 without issue.  You'll need your Apple Developer account as it's a secured asset.

[XCode 8.3.3](https://developer.apple.com/services-account/download?path=%2FDeveloper_Tools%2FXcode_8%2FXcode_8.xip)

[2018-02-15 06:28] stevenwaskey commented on #123
@Kasun002 Did you come up with a solution here?

[2018-02-17 07:00] peratik commented on #149
Error on build on a Mac with Xcode installed.

[2018-02-20 09:13] EnggZahidulislam commented on #144
Step 1: delete all folder except src and resources
Step 2: run command  npm install
Step 3: run command ionic serve
Step 4: run command ionic cordova build android
this process solved my issue

[2018-02-20 09:25] iCodr8 commented on #144
I couldn't fix it and now I'm using the [Barcode Scanner](https://ionicframework.com/docs/native/barcode-scanner/). This plugin can also scan QR codes.

[2018-02-21 07:30] budidao commented on #137
i facing the same error.. anyone have any updates regarding this issue?

[2018-02-21 19:42] Ik2ari commented on #148
I'm having the same issue here, does anyone has a solution for this problem?

[2018-02-22 03:05] budidao commented on #137
I have find solution for my case:
the www/www.min.js file is automated generated when we do
`cordova plugin add cordova-plugin-qrscanner
`
 then i just use that file and create the www folder, and it's working fine.

[2018-02-22 10:30] mslourens commented on #147
Yes, you can (I'm doing it in a project of mine, which uses Ionic 3 and Angular 5).

[2018-02-22 10:33] srijanDubey commented on #147
@mslourens ,

can you please share your code.

[2018-02-22 10:39] mslourens commented on #147
[code]

[2018-02-22 22:24] Stukongeluk commented on #109
It looks like this repo isn't maintained any more.. but I fixed it a long time ago by reinitialising the scanner again after it failed. I don't have access to the codebase in which I fixed this anymore.

[2018-02-25 09:50] OzcanI opened #150 "Why cant we use the scanner preview in a div that we decided?"
How can I use my scanner preview in a div or dom element instead of dealing with transparenting some backgrounds?

[2018-03-01 21:36] allliv commented on #137
Same problem with cordova 8.0.0. Does anyone have solution?

[2018-03-02 08:14] HoangKimDuc commented on #148
me too!

[2018-03-02 09:24] ba-caf commented on #127
I'm getting the same cosole log message(`URL.createObjectURL(stream) is deprecated! Use elem.srcObject = stream instead!`) The difference is that everything functions well.

[2018-03-05 05:22] luxigo opened #151 "QRScanner.destroy() does not works"
I still hear the camera auto-focus motor after using destroy() on android 6.0.1 / kernel 3.10.40-10100220

[2018-03-05 15:22] andreagobetti opened #152 "Crash on Android 7 - RuntimeException - Camera.native_getParameters"
I'm using cordova-plugin-qrscanner version 2.5.0 - From an Android 7.1.1 device (API 25) I received the following crash report:
[code]

[2018-03-05 15:32] andreagobetti commented on #151
On my Android 6 device it's working fine, have you tried logging the status this way?
[code]

[2018-03-05 15:36] andreagobetti commented on #150
Long story short: you can't.
You should use css to hide everything it's over the camera image, I think they chose this method because dealing with the effective size of the div would be a real pain to implement

[2018-03-05 15:43] andreagobetti opened #153 "Crash on Android 7 - IllegalArgumentException - PlanarYUVLuminanceSource.<init>"
I'm using cordova-plugin-qrscanner version 2.5.0 - From an Android 7.1.1 (API 25) device (ASUS_X00HD) I received the following crash report:

[code]

[2018-03-12 08:16] omkarkhalipe commented on #132
how about in browser? where can I add this for browser?

[2018-03-12 10:12] MarcelOerlemans commented on #144
I have the same error, and I do not use ionic.
Command:
phonegap plugin add cordova-plugin-qrscanner
Error:
(node:14296) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Cannot find module '../cordova/platform_metadata'

Is there a fix or workaround available?

[2018-03-13 01:02] athlona64 opened #154 "Installing "cordova-plugin-compat" for android Plugin doesn't support this project's cordova-android version. cordova-android: 6.4.0, failed version requirement: <6.3.0"
how to work on android > 6.3.0

[2018-03-13 05:34] xciceboy commented on #154
+1
 I used android 7.0。This is the same problem

[2018-03-19 04:42] felaray commented on #154
cordova-plugin-compat  is no longer being worked on as the functionality provided by this plugin is now included in cordova-android 6.3.0. You should upgrade your application to use version 1.2.0 of this plugin. It will detect whether or not the plugin is required based on the version of cordova-android your app uses.

https://github.com/apache/cordova-plugin-compat

[2018-03-19 13:21] yunderboy commented on #144
I've been encountering that same issue...

[2018-03-20 15:23] roee-leverate commented on #154
+1

[2018-03-21 06:17] felaray commented on #154
My solution is to downgrade the android platform version.

[2018-03-28 11:24] dodomui opened #155 "IOS swift 4 support"
Hi, is there any solution to make it compatible with Swift 4?

[2018-03-29 06:27] arcadius commented on #154
+1

[2018-03-29 10:40] mksplg commented on #148
I have the same issue. It looks like it's not compatible with the windows platform.

[2018-03-30 06:47] swanandj91 commented on #154
Thanks #felaray my code works a great relief from this code
cordova platform remove android
cordova platform add android@6.2.0

[2018-03-31 22:11] dvr69 opened #156 "Need help about transparency"
Hello everybody,

For my project, I need a code reader. I tried this plugin, and it works great. What I particularly appreciate is that it is behind the wbeview, so I can add a navbar. Unfortunately for me, I need to read barcodes, what that plugin can't do.

So I would like to modify the zbar plugin, and put it behind the webview, just like yours. For this, I need your help. Which part, in the so

[2018-04-01 02:15] fmp777 commented on #154
Hopefully we don't have to depend on downgrading android version

Any chance this will get an update for cordova-android: 7.0.0 @bitjson ?

[2018-04-02 18:25] makah opened #157 "plugin_not_installed - Android"
I receive 'plugin_not_installed' when I try to `prepare()` in a blank Ionic (Version 3.20) project. Do I need to initialize qrScanner?

(using Ionic Pro View - Android device)

[code]

[2018-04-04 09:32] RaiserWeb commented on #134
Same for me

[2018-04-05 07:44] Piashsarker commented on #103
Both @bensearle  & @johnny9x  work well . But i would prefer to use @bensearle  answer.  Just add below css in your src/theme/variable.css  and access it from through javascript as @bensearle mention any pages you want.   Thanks @bensearle  & @johnny9x

[code]

[2018-04-11 14:06] MarcelOerlemans commented on #144
My solution: use phonegap-plugin-barcodescanner. Although I understand that might not be possible for everyone.

[2018-04-11 14:10] pverdu commented on #144
I wanted to try this plugin, since the phonegap-plugin-barcodescanner plugin is a bit slow in opening the scanner.

[2018-04-11 14:11] MarcelOerlemans commented on #144
Yes, the phonegap scanner is definately a bit slower. But what can one do :(

[2018-04-11 14:15] pverdu commented on #144
Yeah indeed. I had implemented Scandit which is superior over all scanners, but it's way to expensive also.

[2018-04-11 18:15] matiu commented on #144
As a workaround, you can downgrade to cordova 7:
 ` npm uninstall -g cordova && npm install -g cordova@7.1.0`

[2018-04-16 00:46] Story5 commented on #144
I have the same issue

[2018-04-16 07:25] pverdu commented on #144
I got it to work eventually.
I just kept removing the platforms and node_modules. Added the platforms and did an npm install again.
I think i also added "cordova-plugin-add-swift-support" to package.json with version number "^1.7.2".

[2018-04-17 16:10] monichols commented on #157
plugin not installed means the plugin is not installed on your platform/device. Here are some things to try:

 1.Check your config.xml and make sure you see it there then your package.json try also removing and re-adding the platform (ionic cordova platform remove android ionic cordova platform add android).
2. Then try a fresh install of the plugin. If it says that it is already installed I'd run

[2018-04-19 21:17] allanpoppe opened #158 "Discontinued?"
Has this plugin been discontinued? The last update was almost two years ago.

Althought it's working (and it works very well, faster than others), it needs to be updated with new Cordova releases. Also, it's using cordova-plugin-swift-support, not cordova-plugin-**add**-swift-support, that's not being updated as the last one.

This is why some people are getting the `Cannot find module '../cordova

[2018-04-20 01:49] HanSunyi opened #159 "How to change UI of QRScanner?"
This is not an issus,just a question.

How can i hook into the view?    so that i can change UI to what i want
Have any suggestion？ Thanks

[2018-04-21 16:07] #159 closed

[2018-04-23 07:36] thisIsChetan opened #160 "How to select QR code image from gallery?"
Hi,

I am able to scan the qr code by live video feed by following the readme file. Just want to know how to read qr code from gallery.

[2018-04-23 10:51] isstoyanov commented on #126
You need to update XCode to latest version

[2018-05-02 08:02] wasinr commented on #144
try this

This was a bug in cordova-plugin-add-swift-support, just update it to latest version (1.7.1)

cordova plugin rm cordova-plugin-add-swift-support --force
cordova plugin add cordova-plugin-add-swift-support

credit : [https://stackoverflow.com/questions/48087357/cordova-8-ios-4-5-4-cannot-find-module-cordova-platform-metadata](https://stackoverflow.com/questions/48087357/cordova-8-ios-4-5-

[2018-05-05 19:02] StarStep commented on #158
@allanpoppe how did you solve? I'm using it too...but unfortunately I'm not that good with cordova system yet. Thanks!

[2018-05-05 19:25] StarStep commented on #155
@brunosoaresds Thanks you very much!

[2018-05-05 20:25] allanpoppe commented on #158
@StarStep I changed the plug-in to use cordova-plugin-add-swift-support instead of cordova-plugin-swift-support. See [my fork](https://github.com/allanpoppe/cordova-plugin-qrscanner).

[2018-05-07 08:54] ramkrishna70 commented on #156
Hi
I have used this plugin in my project, I can give an overview for this. I visited a lot of issues for ionic QR scan over github, stackoverflow, and others and gathered the information and integrated it.
1. I you want to use it at multiple places, create a separate provider for it. like >
QrScan.ts under providers.
[code]
2. Now I created two methods to show and hide the camera preview, which on

[2018-05-07 08:59] ramkrishna70 commented on #147
I have taken references from all of the issues, and merged to make it work properly.
Hope this will help more.
https://github.com/bitpay/cordova-plugin-qrscanner/issues/156

[2018-05-14 13:12] connyhald commented on #155
Just FYI: I still had to set "Swift Language Version" to "Swift 3.3". If I choose "Swift 4.1" I get a lot of compiler errors.

[2018-05-14 15:32] DavidRoebl commented on #128
I'm having the same issues on Win10/Google Chrome.
After successfully scanning the QR code, I hide the qrScanner (even destroy it for good measure) and then transition to the next screen.
The app does not release the camera though, which is not expecte behaviour and therefore bad UX -- I don't want my users to think that I am spying on them when they use my app :(

[code]

[2018-05-16 06:18] HanSunyi opened #161 "Center Decode Point is a little downward shift。"
the smaller rect is the area where i can decode my QR code，but i want to make this area a little higher.
But i can't find a API to do this.    : )

eg.       ↓
![1526451576 1](https://user-images.githubusercontent.com/16067355/40099820-4424270a-5914-11e8-845b-81d284a8c313.jpg)

blow picture is what i want !
![1526451710 1](https://user-images.githubusercontent.com/16067355/40099889-81e34dbe-5914-1

[2018-05-17 18:43] bitjson commented on #158
updated in https://github.com/bitpay/cordova-plugin-qrscanner/releases/tag/2.6.0

[2018-05-17 18:43] #158 closed

[2018-05-17 18:43] #157 closed

[2018-05-17 18:44] bitjson commented on #160
This is currently not supported, but you could use another plugin to get the image into JS land, then provide that image to the same function this library uses to read from the camera. PRs welcome!

[2018-05-17 18:44] #160 closed

[2018-05-17 18:46] bitjson commented on #161
As far as I know, the QR scanner works on the entire view constantly. You shouldn't need to modify anything to read from any part of the view. Closing this for now, but please comment here if you're seeing something else.

[2018-05-17 18:46] #161 closed

[2018-05-17 18:50] bitjson commented on #155
PRs welcome!

[2018-05-17 18:50] bitjson commented on #155
For those following this issue, a number of issues have been resolved in the latest release: https://github.com/bitpay/cordova-plugin-qrscanner/releases/tag/2.6.0

PRs welcome!

[2018-05-17 18:51] #156 closed

[2018-05-17 18:53] bitjson commented on #151
There was an issue with the destroy method on iOS which was fixed in 2.6.0. Since I can't reproduce any issue here, I'm going to close for now, please let me know if you're still having trouble. (And PRs welcome!)

[2018-05-17 18:53] #151 closed

[2018-05-17 18:55] bitjson commented on #150
👍 Exactly what @andreagobetti describes. It's much, much easier to manage your UI in CSS then trying to play games with the interface between the native and web layers.

[2018-05-17 18:55] #150 closed

[2018-05-17 18:56] bitjson commented on #149
2.6.0 was just released – if you're still having issues, please open a new issue with detailed steps to reproduce. Thanks!

[2018-05-17 18:56] #149 closed

[2018-05-17 19:09] bitjson commented on #143
Fixed in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) 🚀

[2018-05-17 19:09] #143 closed

[2018-05-17 19:10] bitjson commented on #144
Fixed in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) 🚀

[2018-05-17 19:10] #144 closed

[2018-05-17 19:11] bitjson commented on #141
It looks like this is solved – closing this issue for now, but feel free to open a new issue if you're still having trouble.

[2018-05-17 19:11] #141 closed

[2018-05-17 19:25] bitjson commented on #130
This is something you should do in the CSS of your app. See https://github.com/bitpay/copay for an example.

[2018-05-17 19:25] #130 closed

[2018-05-17 19:28] bitjson commented on #136
Hmm.. I'd be willing to bet that what you're seeing is the result of scanning a QR code encoded in [Alphanumeric mode](https://en.wikipedia.org/wiki/QR_code#Encoding). It's not that the plugin is converting to uppercase, it's that the code itself doesn't include capitalization information.

I can confirm that properly encoded QR codes are displaying the proper capitalization, so I think it's safe

[2018-05-17 19:28] #136 closed

[2018-05-17 19:31] #129 closed

[2018-05-17 19:33] bitjson commented on #127
I think the root issue may be fixed in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17). The deprecation warnings your seeing shouldn't be a problem (I actually added support for `facingMode` even though no browsers support it yet – a little strange they call it a "deprecation" though).

Closing for now, feel free to open a new issue if you're sti

[2018-05-17 19:33] #127 closed

[2018-05-17 19:35] bitjson commented on #128
I'm not able to reproduce on any local devices, but PRs are certainly welcome. [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) also includes some big improvements which may help.

Closing this for now, but feel free to open a new issue with more specific details.

[2018-05-17 19:35] #128 closed

[2018-05-17 19:36] bitjson commented on #125
With the release of, [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) a lot of these issues are likely to be solved. If you're still having trouble, feel free to open a new issue.

[2018-05-17 19:36] #125 closed

[2018-05-17 19:36] bitjson commented on #126
Fixed in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) 🚀

[2018-05-17 19:36] #126 closed

[2018-05-17 19:36] Fever905 commented on #131
I think it was a syntax problem on my end. I've had it working for months now.  Thanks tho!

[2018-05-17 19:37] bitjson commented on #131
🎉

[2018-05-17 19:37] bitjson commented on #123
If you're still having trouble, check out how it's used here: https://github.com/bitpay/copay

[2018-05-17 19:37] #123 closed

[2018-05-17 19:39] bitjson commented on #121
PRs welcome!

There are some changes in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) which may help here. If you're still having trouble, please feel free to open a new issue.

[2018-05-17 19:39] #121 closed

[2018-05-17 19:39] bitjson commented on #120
Fixed in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) 🚀

[2018-05-17 19:39] #120 closed

[2018-05-17 19:40] bitjson commented on #124
I've tested from Android 4.4 and up.

[2018-05-17 19:40] #124 closed

[2018-05-17 19:41] bitjson commented on #119
[2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) was just released. If you're still having trouble, please open a new issue with details on how to reproduce. Thanks!

[2018-05-17 19:41] #119 closed

[2018-05-17 19:43] bitjson commented on #122
I'm not sure if that's possible/necessary, but PRs are certainly welcome!

[2018-05-17 19:43] #122 closed

[2018-05-17 19:44] bitjson commented on #118
When you install the project from `npm`, the library file is available in the `dist` folder. You shouldn't need to rebuild it.

[2018-05-17 19:44] #118 closed

[2018-05-17 19:45] bitjson commented on #117
Several issues with transparency are fixed in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) 🚀

If you're still having trouble, please feel free to open a new issue.

[2018-05-17 19:45] #117 closed

[2018-05-17 19:45] bitjson commented on #115
Fixed in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) 🚀

[2018-05-17 19:45] #115 closed

[2018-05-17 19:46] bitjson commented on #113
Fixed in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) 🚀

[2018-05-17 19:46] #113 closed

[2018-05-17 19:47] bitjson commented on #114
This is possible by reading the `points` object returned in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) 🚀

[2018-05-17 19:47] #114 closed

[2018-05-17 19:47] bitjson commented on #112
Fixed in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) 🚀

[2018-05-17 19:47] #112 closed

[2018-05-17 19:47] bitjson commented on #110
Fixed in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) 🚀

[2018-05-17 19:47] #110 closed

[2018-05-17 19:52] bitjson commented on #111
Is this still an issue?

(Going to close for now, but please feel free to send a PR if something still needs to change.)

[2018-05-17 19:52] #111 closed

[2018-05-17 19:54] bitjson commented on #109
I think this is an issue for https://github.com/ionic-team/ionic-native.

I'm going to close this for now, but please feel free to open a new issue or PR if something still needs to change in this library.

[2018-05-17 19:54] #109 closed

[2018-05-17 19:55] bitjson commented on #108
Looks like this issue has been solved. Please feel free to open a new issue if you're still having trouble.

[2018-05-17 19:55] #108 closed

[2018-05-17 19:56] bitjson commented on #107
It's been a while here, so I'm going to close this. If anyone is still having trouble, feel free to open a new issue.

[2018-05-17 19:56] #107 closed

[2018-05-17 19:58] bitjson commented on #106
Fixed in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) 🚀

[2018-05-17 19:58] #106 closed

[2018-05-17 19:59] #104 closed

[2018-05-17 20:00] bitjson commented on #103
This seems to be solved. If you're still having trouble, feel free to open a new issue.

[2018-05-17 20:00] #103 closed

[2018-05-17 20:01] bitjson commented on #101
Thanks for the report! This may be solved in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17). If you're still having trouble, please open a new issue or send a PR 🚀

[2018-05-17 20:01] #101 closed

[2018-05-17 20:01] #100 closed

[2018-05-17 20:04] bitjson commented on #89
I think the original question here has been answered, so I'm going to close this issue.

For any future readers, please feel free to open a new issue or send a PR.

[2018-05-17 20:04] #89 closed

[2018-05-17 20:04] bitjson commented on #98
Fixed in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) 🚀

[2018-05-17 20:04] #98 closed

[2018-05-17 20:06] bitjson commented on #47
Crosswalk is no longer maintained, so I'm closing this. Feel free to open a new issue/PR if you'd like to see something else happen.

[2018-05-17 20:06] #47 closed

[2018-05-17 20:07] bitjson commented on #70
Closing this since it's been a while, but PRs welcome!

[2018-05-17 20:07] #70 closed

[2018-05-17 20:08] bitjson commented on #94
Fixed in [2.6.0](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/CHANGELOG.md#260-2018-05-17) 🚀

[2018-05-17 20:08] #94 closed

[2018-05-17 20:08] bitjson commented on #75
This has been quite for a while, so I'm going to close it. Feel free to open a new issue if you're still having trouble.

[2018-05-17 20:08] #75 closed

[2018-05-17 20:09] bitjson commented on #97
No, but PRs are welcome. Closing in favor of https://github.com/bitpay/cordova-plugin-qrscanner/issues/132

[2018-05-17 20:09] #97 closed

[2018-05-18 03:13] omkarkhalipe commented on #132
In browser, I used quagga.js.
In your plugin for browser, you just had put an alert form, So I used quaggaJS there.

[2018-05-23 10:15] connyhald commented on #114
@bitjson Where can I find out more about the "points" object? Looked at the README and the last commits but couldn't find anything.

[2018-05-25 09:08] alexcre8or opened #165 "Update to Swift 3. It is impossible to build project on Xcode 9"
Build is failing with error below:

Check dependencies
The “Swift Language Version” (SWIFT_VERSION) build setting must be set to a supported value for targets which use Swift. This setting can be set in the build settings editor.

[2018-05-28 08:12] cmartin81 opened #166 "'AVLayerVideoGravityResizeAspectFill' was obsoleted in Swift 4"
I just updated to latest Cordova (8.0.0) and the latest cordova-plugin-qrscanner (2.6.0)

When I try to build the project I get the following error:
AVFoundation.AVCaptureTorchMode:3:18: note: 'AVCaptureTorchMode' was obsoleted in Swift 4

Does anyone else get the same error?

[2018-05-29 02:48] catalsdevelop opened #167 "Desktop chrome browser can't load camera"
my env:
[code]

When I test a cordova app in chrome with `localhost`, camera can't load . I can see my camera flash 1-2 seconds, then break down. no errors, no callback. Camera in `Photo Booth` as well as a sample demo page all worked fine.

[2018-05-29 04:48] catalsdevelop commented on #167
After a meal break, it works. still don't know why. maybe some temp code cause the problem.

[2018-05-29 04:48] #167 closed

[2018-05-29 19:08] bitjson commented on #166
It sounds like your project is using Swift 4, while this plugin requires Swift 3. Are you using another plugin which requires Swift 4?

[2018-05-29 22:47] r-bechara commented on #17
Is it possible to set preview's coordinates for the camera while trying to scan a code?

[2018-05-30 10:52] cmartin81 commented on #166
It is actually your plugin which installs swift 4

    Installing "cordova-plugin-qrscanner" for android

    Android Studio project detected

    Subproject Path: CordovaLib
    Subproject Path: app
    Installing "cordova-plugin-qrscanner" for ios

    Installing "cordova-plugin-add-swift-support" for ios

    Adding cordova-plugin-qrscanner to package.json

    Saved plugin info for "cordova-pl

[2018-05-30 13:00] cmartin81 commented on #166
It is now working as expected. It started working after deleting the plugin and platform directory. I also had to remove the line which referred to using swift 4 in config.xml

[2018-05-30 13:01] #166 closed

[2018-05-30 13:53] bitjson commented on #17
@r-bechara not currently, but PR's are welcome! (Probably best to open a new issue, since that's a bit different than the topic of this issue.)

[2018-05-30 13:58] bitjson opened #169 "Migrate browser implementation from the qrcode-reader package to jsQR"
The package [`qrcode-reader`](https://github.com/edi9999/jsqrcode) is deprecated and recommends switching to [`jsQR`](https://github.com/cozmo/jsQR), which also happens to be written in TypeScript.

[2018-05-30 14:00] bitjson commented on #114
@connyhald it's from here: https://github.com/edi9999/jsqrcode/issues/35 – no further documentation yet, but we probably won't document it here, since we need to migrate away from that package: https://github.com/bitpay/cordova-plugin-qrscanner/issues/169

It's also not currently available in the native platforms.

(Though there will be an upgrade path, since jsQR also provides the same feature.)

[2018-05-30 14:08] connyhald commented on #114
@bitjson Thanks for the pointer!

[2018-05-30 19:56] r-bechara opened #170 "It's not possible to set the position where scanner's view area will be on the screen"
I would like to be able to set the region where scanner camera preview will be. Currently, it occupies the entire screen, leaving no space for other elements I may want to put in the same view/page. Either, I can't put any elements over the preview area without appealling to transparency (Let's say I want to put a button over the camera preview or a bunch of texts). It would be nice if you can per

[2018-05-31 17:24] Cirivas opened #171 "iOS Black/White preview until page is scrolled."
Hi, I'm using this plugin with Ionic3. Until version 2.5.0 everything was working "fine". I updated to latest version for some little fixes, but now the camera preview appears black or white until the page where the camera is on is scrolled.

I'm using the same code exposed in [docs](https://ionicframework.com/docs/native/qr-scanner/) with the addition of a `transparent-body` class to allow camera

[2018-05-31 21:30] daksamedia commented on #108
I'm not using Ionic, is there any solution? My camera didn't appear since I click my button to scan. Is there any best practice for this plugin?

[2018-05-31 22:49] daksamedia opened #172 "Not working on Framework7"
I worked around with this plugin and got nothing.
I use Framework7 and camera won't appear properly.

app.js
`$$(document).on('deviceready', function() {
    console.log("Device is ready!");
	//app.statusbar.show();
	scan_qr()
});

function scan_qr(){
	/* cordova.plugins.barcodeScanner.scan(
	  function (result) {
		  app.dialog.alert("We got a barcode\n" +
				"Result: " + result.text + "\n" +

[2018-06-01 00:01] bitjson commented on #108
@daksamedia try cloning this repo and running the tests for a working example. See the Readme for more details.

[2018-06-01 03:58] daksamedia commented on #108
@bitjson I already tested it, but still didn't work. I'm using framework7 anyway. Is it possible?

[2018-06-01 04:16] bitjson commented on #108
What didn't work about it? Did the tests fail on your devices?

This plugin should work for all Cordova projects, javascript frameworks shouldn't matter.

[2018-06-01 04:29] daksamedia commented on #108
@bitjson it's work in browser, but in my android device my camera didn't open.

on prepare action it gave a response, but camera didn't show up.

[2018-06-01 13:51] bitjson commented on #108
Trying to reproduce – when you ran the generated tests on Android, which buttons did you click/what order?

[2018-06-03 15:31] claudesoft commented on #172
Hi, you need to hide some Elements because they habe a white BG:

Start QR Scanner, then: (jQuery solution)

`
         window.setTimeout(function(){
           $(".page-previous").addClass('hideEl')
           $(".page-current").addClass('transparentBg')
           $("body").addClass("transparentBg")
           $(".page-current .page-content").addClass("hideEl")
         },1500)
`

when done:
`
$

[2018-06-08 02:34] budidao opened #173 "ipa size become too big after adding this plugin"
Anyone facing the same issue? previously my ipa size only 12MB, but after adding this plugin it's become 70MB.
Anyone know how to reduce the size again?

[2018-06-13 12:54] sweebee opened #174 "How to use with Vue"
I'm trying to get it working with Vue, but I'm getting errors:

[code]
in a component:
[code]
But I get:
[code]

[2018-06-13 23:57] ogxwx opened #175 "Can't find variable: QRScanner"
I installed this plugin. but, I get this error
[code]

My Cordova version is 7.1.0 and I installed this plugin version 2.6.0.

So, Please provide accurate information.

[2018-06-17 09:37] NikitaShelar opened #176 "cordova-plugin-qrscanner.QRScanner does not exist."
Hi, I  am working on QR code scanner implementation in WinJS project. I added  cordova-plugin-qrscanner plugin in project using npm install cordova-plugin-qrscanner  but when I run the  project , it fetches exception cordova-plugin-qrscanner.QRScanner does not exists in Cordova.js  file.So what is the solution for this ?

[2018-06-18 03:34] Ik2ari opened #177 "QRScanner is not recognizing QR-Codes on Windows devices"
We are using this plugin with an Ionic 3 App. It seems to work fine on Android and iOS but on Windows devices it does not recognizes QR-Codes.

I added some Videos of the Problem:

[Video.zip](https://github.com/bitpay/cordova-plugin-qrscanner/files/2109812/Video.zip)

[2018-06-25 11:20] GermainChavigny opened #178 "White on black QR Code not recognized on Android"
The plugin works really well on IOS, but on Android it seem that only the black on white QR Code are recognized, and not the white on black.

Works on IOS and Android, text type ("3464E726"), black on white :
https://www.unitag.io/qreator/generate?crs=xnjFkEn%252FP85fCPDXJ%252FXXKnPnKU%252FtWVh9E7ei8Ex%252BR4XsTvus59MiRl4OtJ5Y%252F3aRXopA7Qn4wJ6m3qLfsP4IWv39ocSd3mMczmj1AuyiW6IsnzP3lR5so0CxdVH10KxU

[2018-06-26 12:53] danielsimon1 commented on #176
Can you paste your source code here where you try to use the QRScanner plugin?

[2018-06-27 07:18] jigar-jstechno commented on #172
Not Working This Solution

[2018-06-29 07:55] jeevan-raj opened #180 "Build issue - cannot find symbol import org.apache.cordova.PermissionHelper;"
Hi,

I'm getting the following error while trying to build the  project.

:compileDebugJavaWithJavacD:\dupont\laserfarm\aemm\plugins\platforms\android\src\com\bitpay\cordova\qrscanner\QRScanner.java:21: error: cannot find symbol
import org.apache.cordova.PermissionHelper;
                         ^
  symbol:   class PermissionHelper
  location: package org.apache.cordova
1 error
![error]

(https:/

[2018-06-30 13:13] AlmirKadric opened #181 "Calling the Hide method does not work"
Currently when the `Hide()` method is called, nothing happens and the camera is still visible. However if I call the `Destroy()` the camera is stopped however the background is set to a blueish gray color.

[2018-07-01 11:31] alsco77 commented on #180
I reverted back to 2.4.0 and it fixed this issue. I think the problem is with the removal of `cordova-plugin-compat` in #139 [here](https://github.com/bitpay/cordova-plugin-qrscanner/commit/85e2396)

I suspect that adding this line back in will let you run the build - going to test it out.. will report back :)

[2018-07-01 15:15] vially commented on #180
I may need some more info before I can have an opinion but it looks like you're using a version of `cordova-android` older than `6.3.0`. If that's the case you should be able to fix it by adding `cordova-plugin-compat` to your `config.xml` and then you should be able to use qrscanner version `2.6.0`. I'm not able to test it right now though, so I may be wrong.

[2018-07-01 22:03] alsco77 commented on #180
Thanks @vially you were correct, good one. Cool!

[2018-07-02 10:00] NikitaShelar opened #183 "QR Code Scanner using WinJS"
I am working on QR code scanner implementation in WinJS project. I added cordova-plugin-qrscanner in my WinJS Project which is based off of cordova. But when I run the project , it gives the exception cordova-plugin-qrscanner.QRScanner does not exists in Cordova.js file. So what is the solution for this ? Any help would be appreciated.

[2018-07-10 10:07] xcarlo31 opened #184 "Implementation method for Ionic V1 apps"
Is there a tutorial or a readme file for the implementation of this plugin in ionic v1? I spent the whole day looking at your guides and I think my problem is implementing the plugin on an ionic v1 app.

Thank you!

[2018-07-11 04:08] xcarlo31 commented on #184
I have successfully implemented the plugin.

[2018-07-11 04:08] #184 closed

[2018-07-11 04:09] xcarlo31 opened #185 "How to make ionic 1 iOS app go transparent?"
I'm currently using the plugin and the functions works, but my problem is there's no camera preview on it. Please help me.

[2018-07-13 21:33] allenhark commented on #175
Same issue

[2018-07-15 14:25] adilsaadi opened #186 "Error is plugin not installed but I had already intalled it"
I'm working with ionic 3, I installed the QRScanner plugin but when I run the application on my android device it says :
[14:18:03]  console.warn: Native: tried calling QRScanner.prepare, but the QRScanner plugin is not installed.
[14:18:03]  console.warn: Install the QRScanner plugin: 'ionic cordova plugin add cordova-plugin-qrscanner'
[14:18:03]  console.log: Error is plugin_not_installed

I've

[2018-07-16 08:22] FourLeafClover commented on #160
@bitjson  if i use camera.getPicture get the picture(base64) from my gallery。how can i scan the picture by using base64 data.

[2018-07-16 19:39] Zwimber commented on #186
+1

[2018-07-17 07:53] sJonatas commented on #107
@Nauzer solution worked fine for me!
TYSM!

[2018-07-17 13:23] Murajima commented on #174
you dont have to import at all

use it anywhere like that 👍

`setSessionDataFromQRCode() {
      return new Promise((resolve, reject) => {
        var self = this
        self.worker = sessioninfo.info().worker
        self.workstation = sessioninfo.info().workstation;
        QRScanner.show();

        var delay = 20000;
        setTimeout(function() {
          QRScanner.cancelScan();

[2018-07-18 16:40] rosstimothy opened #187 "Destroy is not functional for browser"
Attempting to use destroy for the browser target results in the following:

Error in Error callbackId: QRScanner967822053 : [object Object] cordova.js:309:39
Exception calling native with command :: QRScanner :: destroy ::exception=[object Object]

[2018-07-19 17:22] allannaranjo commented on #185
you have to maje your html{ opacity : 0 }

[2018-07-23 16:42] zaikin-andrew commented on #125
Thanks, @pedrohymino for https://github.com/bitpay/cordova-plugin-qrscanner/issues/125#issuecomment-336518056 it helped me.

I faced with this issue with 2.6.0 version with Ionic @bitjson

[2018-07-23 17:15] allannaranjo commented on #180
Hi, I'm using Cordova 7.0.1, and getting the same "import org.apache.cordova.PermissionHelper" error, I would like to use the version 2.6.0 of this plugin, is there any instructions I can follow to install and overcome this issue?
Thanks

[2018-07-24 09:20] andrewpitts15 commented on #169
@bitjson do you know when this migration will be done?

[2018-07-24 13:55] bitjson commented on #169
I don't know of anyone working on it currently. You're welcome to pick it up!

[2018-07-27 08:39] tomsun commented on #185
@xcarlo31 there are a few other elements that need to be transparent. This works with Ionic 3: https://github.com/bambuser/bambuser-examplebroadcaster-ionic/blob/master/src/pages/broadcaster/broadcaster.scss#L6-L11
https://github.com/bambuser/bambuser-examplebroadcaster-ionic/blob/master/src/pages/broadcaster/broadcaster.ts#L39

Something similar (but not identical) for Ionic 1 probably. Use `ioni

[2018-08-01 05:40] burtontanner commented on #171
I am having the same issue. I am using 2.6.0.

[2018-08-01 05:49] burtontanner commented on #171
may be something to do with this
2.4.0
[code]
2.6.0
[code]

[2018-08-01 07:15] burtontanner commented on #171
actually I was calling .show() before .scan()

[2018-08-01 14:29] Cirivas commented on #171
I had to do a little "trick" to trigger a "scroll":
[code]

The important thing is messing around with navDecor, doing that fixed my problem.

[2018-08-02 14:20] danielsimon1 opened #188 "Remote Xcode app build fails - Error code 65"
I'm trying to build my [Capacitor](https://github.com/ionic-team/capacitor) app which uses the QRScanner plugin. If I build locally, everything works just fine. But now I set up a CI process. The QRScanner plugin causes the remote build to fail with the error code 65.
Here are the logs:

[code]

[2018-08-04 04:39] FranciscoLeuro commented on #188
Same problem here. Im using Visual Studio 2017 on PC and XCode 9.4.1 on High Sierra Mac. Logs says that SWIFT_VERSION must be set appropiately, or sort of message.

[2018-08-04 08:16] danielsimon1 commented on #188
@FranciscoLeuro I had this issue before too. You need to set the Swift version to 3.3. Are you also using Capacitor? There is now an option to set the Swift version in the `capacitor.config.json` file:

[code]

But that doesn't solve my issue...

[2018-08-08 07:52] Inconspicuously commented on #187
Ran into the same problem, I was unable to restart the scanner because of it. I believe the problem lies in the cancelScan function, which calls cancelNextScan and tells it to send an error. My solution was to change the cancelScan function to the following:

[code]

By changing true to false in the cancelNextScan line, I'm telling the function that no error should be send when the scan is cancell

[2018-08-13 14:54] gserneels opened #189 "Failed to install 'cordova-plugin-qrscanner'"
When I try to add this plugin to my Visual Studio 2017 project, I get an installation error.
See below. Hopefully someone can help me out with this.

Install start for "cordova-plugin-qrscanner" on android.
Beginning processing of action stack for android project...
Installing Android library: src/android/qrscanner.gradle
Error during processing of action! Attempting to revert...
Warning: Error du

[2018-08-13 18:39] gserneels commented on #137
I just had the exact same problem with version 2.6.0... :-(
I use Visual Studio 2017, added the plugin and when I build the solution, I get this error:

ENOENT: no such file or directory, open 'C:\Users\Gert\source\repos\BlankCordovaApp1\BlankCordovaApp1\plugins\cordova-plugin-qrscanner\www\www.min.js'

[2018-08-15 21:04] SebastianJordan commented on #121
Hi @bitjson , I have the same error and I have version 2.6.0 and for iOS it enables the background mode like that error comes out

 THREAD WARNING: ['QRScanner'] took '68.887695' ms. Plugin should use a background thread.

[2018-08-17 11:35] kajalbh99 opened #190 "no option for going back from scanner"
i have changed the working of android back button to close the camera preview but it ios device i am unable to close the camera preview. Every time i have to close the app , then remove this from running apps, then have to reopen. There should be a back arrow on camera preview screen to close the destroy the camera instance.

If anyone has solution for this issue , please response.

[2018-08-19 21:08] deckymcdonough commented on #190
I'm having the same issue. Is there a way for the camera preview to only show in a specified element. That way I could use the navbar to add a cancel button.

[2018-08-21 06:53] mikeymckay commented on #138
If using browserify, you need to do:
`npm install cordova-plugin-qrscanner`
And then in your code, you require it like this:
`QRScanner = require 'cordova-plugin-qrscanner'`

note: the docs says `require 'QRScanner'` - which doesn't work

[2018-08-22 21:37] rolinger commented on #154
For anyone who cares:

cordova-plugin-compat is now integrated with the cordova-android@6.3+ versions.

https://cordova.apache.org/announcements/2017/09/27/android-release.html

[2018-08-26 17:27] jrt324 opened #191 "How to change the camera permission prompt message"
The default message is :

How to change the prompt message?

[2018-08-28 15:38] Carton32 commented on #190
Look at the apps code shown on the main page of this repo (like Copay). They are good examples to manage this.

You can put a button over the camera preview in a div that calls the cancelScan action.

[2018-08-29 12:48] CjoyHome commented on #111
This is still an issue

[2018-08-29 13:35] CjoyHome commented on #111
![image](https://user-images.githubusercontent.com/26813427/44791096-77228400-abd3-11e8-9743-47f72ac872cd.png)
![Uploading image.png…]()

[2018-08-29 13:39] CjoyHome opened #192 "android:required only works for <uses-feature> not <uses-permission>"
![image](https://user-images.githubusercontent.com/26813427/44791325-f021db80-abd3-11e8-8885-40dbc5ae2bdf.png)

![image](https://user-images.githubusercontent.com/26813427/44791330-f3b56280-abd3-11e8-9233-7b42ecb12bf4.png)

[2018-09-03 12:02] manjunathamm24 opened #193 "Ionic andriod build Error: (node:20448) UnhandledPromiseRejectionWarning: Error: Cannot find module '../cordova/platform_metadata'"
hi, i am very new to ionic ,, can some one help to fix this issue

while building ionic android i am getting below error
(node:20448) UnhandledPromiseRejectionWarning: Error: Cannot find module '../cordova/platform_metadata'

[2018-09-04 04:59] #191 closed

[2018-09-04 10:39] shern91 opened #194 "QR Code Camera Zoom Setting"
I creating a scanning QR Code apps using [quasar-framework](https://quasar-framework.org/) with **cordova-plugin-qrscanner**.

When I try my apps in browser, the QR code scanner is working. When I use cordova build into android platform apps, the QR code scanner camera is zoom in too much until not able to scan qr code(Camera is become very blur). Is there any setting can set the zoom in/zoom out

[2018-09-05 20:15] noor-mohiuddin commented on #138
I ran the `npm install cordova-plugin-qrscanner` command and don't see the `dist` folder

[2018-09-14 14:08] #189 closed

[2018-09-14 14:12] gserneels opened #195 "Error on Adobe PhoneGap Build: Swift Language Version build setting"
Hello,

As soon as I add this plugin, I get a build error on Adobe PhoneGap Build for iOS.

_The “Swift Language Version” (SWIFT_VERSION) build setting must be set to a supported value for targets which use Swift._

Other people have the same problems, but I can't find a solution.
Does anyone has a solution? Is there a configuration in the plugin missing?

Thanks!

[2018-09-16 04:28] dodomui commented on #160
@FourLeafClover Did you manage to parse image to scan?
I can solved this by using another JS QR code decoder library qrcode-decoder-js.
But it happens that some QR code cannot be decode properly but this cordova-plugin-qrscanner never failed to decode any QR code yet.

Therefore, I hope can use this library to decode QR code image as well...

[2018-09-16 08:15] dodomui opened #196 "Decode QR Code Image"
How to decode QR code image by using this library?
I tried with another library to decode QR code image, but there's some QR code that only this library cannot decode properly...

[2018-09-22 14:38] loama opened #197 "Change scan area"
By default the QR needs to be fairly centered into the preview to be scanned but I am putting an overlay on top of it.
Is it possible to change the center for scanning or any other way to make the plugin scan a not centered QR?

[2018-09-25 21:17] JuliaRakitina commented on #132
I tried this solution for DATA_MATRIX
[code]

But it does not work. Seems like cordova does not recompile plugins, because if I delete QR_CODE at all, it still work and decodes it

[2018-09-25 22:20] JuliaRakitina commented on #132
I also tried remove/add platform, remove/add plugin, add plugin from local. Does not work

[2018-09-27 11:29] ledarky opened #198 "this plugin is a big trash"
nothing work you have waste my time this plugi doesn't work
big trash don't lost your time to install

[2018-09-29 09:37] hugoblanc commented on #171
`          this.scanSub = this.qrScanner.scan().subscribe((text: string) => this.ngZone.run(() => this.asScanSomething(text)));
          this.qrScanner.show().then(()=>{
            window.scrollBy(1);
          });
`
scrollBy(1) solve the problem in my case

[2018-10-03 20:22] melezhik opened #199 "The package Microsoft.CSharp with version 4.0.0 could not be found error when try to build cordova project which uses cordova-plugin-qrscanner"
Hi! I am building cordova project that uses `cordova-plugin-qrscanner` plugins and get following error:

Any ideas hwo to deal with that?

[code]

[2018-10-04 19:08] egold555 commented on #186
+1 Anyone have a fix for this? It is very frustrating.

[2018-10-04 21:10] melezhik commented on #199
Hi guys! Any news here?

[2018-10-05 13:52] melezhik commented on #199
fixed by installing missing windows SDK, but I only knew about that once I opened QRReader.csproj in visual studio and tried to build it. It would be nice if we can see that through cordova command line build.

[2018-10-05 21:12] melezhik commented on #199
Sorry, the issue appeared again, now it is (after installing SDk UAP version 10.0.14393.0 ):

[code]

[2018-10-08 15:50] melezhik commented on #199
The issue happened to be due to dependency on `10.0.14393.0` windows SDK:

https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/src/windows/QRReader/QRReader.csproj#L14-L15

Please be aware that this version of SDK has installation trouble on some windows servers, after  changing  this version to whatever available on my server (10.0.17134.0) the plugin gets compiled

[2018-10-09 07:35] godkillerdan commented on #186
please init qrcode  first .
ionic native QR Scanner  demo, fixed bug plugin_not_installed and background transparent .
 The following is the demo , If you like give me a star,Thank you!
https://github.com/godkillerdan/ionic-native-plugin-qrcode
如有疑问，可简书评论联系作者，热心解答，从不怼人。。。（https://www.jianshu.com/u/76583cd80048）

[2018-10-09 07:39] GodKillerDandan opened #200 "fixed bug plugin_not_installed and background transparent ."
ionic native QR Scanner  demo, fixed bug plugin_not_installed and background transparent .
 The following is the demo , If you like give me a star,Thank you!
https://github.com/godkillerdan/ionic-native-plugin-qrcode
如有疑问，可简书评论联系作者，热心解答，从不怼人。。。（https://www.jianshu.com/u/76583cd80048）

_Originally posted by @godkillerdan in https://github.com/bitpay/cordova-plugin-qrscanner/issues/186#issuecomment-

[2018-10-15 14:14] iamjouza commented on #134
I have already this problem even with the fix mentionned, anyone know what to dou please ?

[2018-10-17 06:36] tanxingli opened #201 "How to scan multiple QR codes"
How can I detect multiple QR codes at the same time?

[2018-10-17 06:52] tanxingli commented on #201
How can I detect multiple QR codes at the same time?

[2018-10-17 14:46] gauravv7 opened #202 "camera not working on sony xperia c2305(android kitkat 4.2)"
not able to see camera, black screen appearing.
checked the chrome inspect logs, says we have the camera permission and everything, background is also transparent till html(checked that thoroughly), just the screen appears black. seems like camera has not started.

any hints? should I use ionic android permissions?
 ### info

Ionic:

   ionic (Ionic CLI)  : 4.1.1 (~/.nvm/versions/node/v9.8.0/lib/n

[2018-10-19 10:31] DaanTul commented on #198
It actually does work? Maybe try a bit more before opening an issue claiming it doens't work. Also might want to specify what isn't working.

[2018-10-23 08:39] yangnana11 commented on #181
Hello,

It's still dark blue or black, not return to it's earlier stage...

[2018-10-26 09:34] masterix21 commented on #175
are you sure that exists cordova.js?

[2018-10-26 10:36] masterix21 commented on #172
Try with my code (please adapt it if you don't use VueJS):

`export default {
    install (Vue, options) {
        Vue.prototype.$QRScanner = (callback, options) => {
            let qr = _.get(window, 'QRScanner');

            qr.prepare((error, status) => {
                if (error) {
                    console.error(error);
                    return;
                }

                if (s

[2018-10-26 10:38] masterix21 commented on #172
Try with it (please adapt a bit if you don't need VueJS):

`export default {
    install (Vue, options) {
        Vue.prototype.$QRScanner = (callback, options) => {
            let qr = _.get(window, 'QRScanner');

            qr.prepare((error, status) => {
                if (error) {
                    console.error(error);
                    return;
                }

                if (st

[2018-10-26 10:42] masterix21 commented on #172
Use before "scan" method:

`setTimeout(() => { document.getElementById('framework7-root').style.display = 'none' }, 1000);`

And it after results:

`document.getElementById('framework7-root').style.display = 'block';`

[2018-10-28 16:36] luomohuafengyu opened #203 "Unable to work"
I have tried many times, but I still can not turn on this function. Has anyone succeeded?

[2018-10-29 03:41] abi9454 commented on #199
I am also getting this error on `10.0.17763.0`  Windows SDK. I tried changing `TargetPlatformVersion` and `TargetPlatformMinVersion` to `10.0.17763.0` but it still gives me the same error as you got. I am wondering what else did you change to make it work for you.

[2018-10-29 03:42] Yashmalla commented on #199
I am also getting this error on `10.0.17763.0` Windows SDK. I tried changing `TargetPlatformVersion` and `TargetPlatformMinVersion` to `10.0.17763.0` but it still gives me the same error as you got. I am wondering what else did you change to make it work for you.

[2018-10-29 15:21] melezhik commented on #199
Hi @Yashmalla , don't not even know ): now

I have made quite a number changes, so that don't remember exactly what I've done to succeed ... I know for sure I tried to  change SDK  version requirements in csproj file as well installed fresher SDK ( because 10.0.14393.0  failed to install on my machine ).

I still believe that `cordova-plugin-qrscanner` maintainers are _best persons_ to address thi

[2018-10-30 08:12] webquali commented on #151
version 3.4.0 still not works destroy and hide

[2018-10-31 04:56] onfire opened #204 "Cant get the camera to open in Ionic 4"
Hi all,

I am trying to use this QR scanner with an Ionic 4 project, but just cant seem to get it to open the camera. I have implemented the example as per the Ionic 4 docs (https://beta.ionicframework.com/docs/native/qr-scanner/) as here:

[code]

Which when clicking the button that fires payment() does initial give me the prompt to allow permissions for the camera, but after pressing yes nothing

[2018-10-31 06:31] onfire commented on #204
Ok I missed some very obvious

[2018-10-31 07:52] ireade commented on #204
What CSS do you have in the `.cameraView` class?

The way I had to do it was to set the `display` to `none`.

[code]

[2018-10-31 19:46] onfire commented on #204
@ireade  Thank you that does work - you can see the camera now! However it means that we can't add any elements into the body to use as close or scan buttons, right? How did you get around that?

[2018-11-01 05:33] sunsboy opened #205 "can use"
if you want to use this plugin,you must QRScanner.destroy()  first time,then you can use this plugin！

[2018-11-01 07:33] ireade commented on #204
@onfire Great!

Yes you're correct, this method completely hides the application so you can't add a close button. I used a timeout so the scanner automatically closes after 10 seconds, but this isn't really ideal. I'm actually currently trying to figure out a better solution, testing out hiding only part of the app instead or something like that.

[2018-11-01 10:56] OhYuuKii commented on #204
Hey ! I got the same problem, thank you for the solution ! I'm now trying to display some stuff in front of the preview. Keep me updated if you find out how !

[2018-11-03 07:05] redbaty commented on #204
Temporary solution, you can remove the "hydrated" class from all ion-contents and it will work out.

[code]

[2018-11-03 19:14] redbaty commented on #204
This is related to shadow DOM styling, which I just heard about on ionic v4 haha, don't know if this is the best solution but it works.

[code]

[2018-11-05 11:51] ireade commented on #204
So I've sort of solved this. It's a bit of a hacky solution, but it works for me.

Instead of hiding the app entirely, I added a class to the `html` element:

[code]

In my HTML, I added a Close scanner button just inside the `ion-content`

[code]

Finally, in my CSS, I hid everything on the page besides the scanner button, and changed the height of the application to be smaller and only be large

[2018-11-07 01:01] onfire commented on #204
@ireade Nice work, I've just quickly tried implementing this and it's working for me too

[2018-11-07 17:07] prescindivel opened #206 "Can't build in android"
### **Ionic Info:**

[code]

### **Error:**

[code]

[2018-11-15 15:55] allannaranjo commented on #180
I had to use an older version for this.

[2018-11-15 16:00] jeevan-raj commented on #180
Using older version(6.5) solved the issue.

On Sun, 1 Jul 2018, 5:01 pm Alex Scott <notifications@github.com wrote:

[2018-11-15 19:42] brandoncorbin opened #209 "No Camera option in Settings for iOS 12"
TL;DR; plugin appears be installed properly,  but no Privacy -> Camera -> App - or Settings -> App -> Camera options

The plugin is installed and runs fine on Android, and on one of my iPhone - where at some point Camera Permissions were approved early in the build.

However, installed on a fresh device with a fresh install, the Scanner plugin prepares - rejects the permissions. I then fire off th

[2018-11-15 19:45] brandoncorbin commented on #209
I should note that my plist does contain the "Privacy - Camera Usage Description"

[2018-11-15 23:03] brandoncorbin commented on #209
I'm impatient, and worked around the problem using the Diagnostic Plugin. Instead of relying on QRScanner to request camera access, I replaced it with Diagnostics' request camera access - works dashingly.

https://github.com/dpa99c/cordova-diagnostic-plugin

[2018-11-18 15:27] Bartoszkolodziejczak opened #210 "QRScanner - After scan router navigate dosen't work"
Hi, I've got problem with cordova-plugin-qrscanner in Angular project. In my component I scan QR code and if scan is completed I want navigate to another component. Unfortunately its dosen't work correct. This is part of my code

[code]

Path is correct. I don't know why it's dosen't work. My Angular version is 7.0.6 and cordova 8.1.2.
Router change url but view not renderer

[2018-11-19 14:40] cheeroke opened #211 "Q: Save frame as image when qrcode is detected"
Is it possible to achieve this?
If so, can someone point me where to start.
Thanks

[2018-11-19 14:56] cheeroke commented on #156
@ramkrishna70 You importing `ToolBox`, can you tell what is this please?

[2018-11-22 04:16] b1ueRa1n commented on #204
Thank you @ireade . it's Working for me too.

[2018-12-03 18:10] mottolini opened #212 "Unable to use it for PWA in modern smartphones"
I'm using this plugin (2.6.0) as part of an Ionic 3 Progressive Web App.
The plugin works fine when used in a Browser on a PC, but throws an error when used on a Smartphone:

`core.js:1449 ERROR RangeError: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': Out of memory at ImageData creation
  at getCurrentImageData (plugin.min.js:571)
  at thisScanCycle (plugin.min.js:693)
  at t.in

[2018-12-06 14:26] james11a opened #213 "2 second delay before each refocus"
Once the camera attains focus, the `next call for focus` is done only `after 2 seconds` delay. After digging in to the source code I found that under [AutofocusManager.java](https://github.com/journeyapps/zxing-android-embedded/blob/master/zxing-android-embedded/src/com/journeyapps/barcodescanner/camera/AutoFocusManager.java):

_`Call structure:`_ _QRScanner.java -> BarcodeView.java -> CameraPrevi

[2018-12-07 14:55] james11a commented on #197
I was facing the same issue. The easiest workaround I found (**for Android**) was to tweak the [setupCamera()](https://github.com/bitpay/cordova-plugin-qrscanner/blob/master/src/android/QRScanner.java#L449) function in `QRScanner.java`.

Because the _decode happens_ from approximately the _mid-one-third of the screen_, the trick is to **relatively shift this center region** by changing the `height

[2018-12-07 16:41] oskarpearson commented on #212
Hi @mottolini

I'm fairly certain this relates to https://github.com/bitpay/cordova-plugin-qrscanner/pull/214 - things would run out of memory because canvasses were being created every few hundred milliseconds.

Would you mind trying out that branch and seeing if it resolves things?

[2018-12-09 23:44] FiReBlUe45 commented on #204
@ireade hi,

I need to create a custom QRCode reader. Your solution just allows me to have a header.
Do you have any idea how I can have this type of screen?
![image](https://user-images.githubusercontent.com/7797712/49704529-7e1a5300-fc14-11e8-9152-a1c78141364d.png)

thx

[2018-12-13 14:16] sanek-mizin commented on #210
this._ngZone.run(() => this._router.navigate([''/main/depositor']));

[2018-12-18 14:49] cepon opened #216 "QRScanner undefined"
I created Apache Cordova project in Visual Studio, added this plugin through Visual Studio.

So when I try to access to QRScanner in javascript I get error QRScanner is not defined.

Global object.

Any solutions?

[2018-12-18 20:34] umsdavid opened #217 "Cannot Get this plugin to work."
Hi,

Is there any example on how to put the script in index.html and index.js? I've tried many times but the apps doesnt seems to work

[2018-12-20 17:34] guilhermebpereira commented on #195
open the project on the xcode, go to build settings tab, change the swift version and then try to build again.

[2018-12-21 08:46] gserneels commented on #195
Hi Guilherm, it is not possible to change the swift version in Adobe PhoneGap...

[2018-12-24 11:10] mottolini commented on #212
@oskarpearson , sorry for replying late to your comment, but I was too busy on other projects. I tried your code and I think you addressed the main issue correctly: thanks!
Unfortunately I run into other issues.
First one was that scanning a QR took a long time and I had to place my phone really distant from it. I  partially solved it changing the size of the video stream in the function startCame

[2018-12-29 09:43] Junijoh commented on #217
Yes this doesnt seem to work, The guide described in this plugin is not helpful and seems very vague.

[2018-12-29 09:44] Junijoh commented on #217
I would like to know of a qr code  + barcode scanner plugin for cordova 8.1.2

[2018-12-31 09:49] irvine48 commented on #217
so.. this plugin seen not maintain anymore? i tested "phonegap-plugin-barcodescanner" just work fine. But not this which i tested first in the place. Still cant make it work. Camera no trigger.

[2018-12-31 10:04] Junijoh commented on #217
Yes so can anyone please tell what we can if this is discontinued.
Do we have any other alternative?

[2018-12-31 10:08] irvine48 commented on #217
as mentioned, phonegap-plugin-barcodescanner work fine for me. here attached with the example,
https://www.techiediaries.com/barcode-qr-code-scanner-encoder-ionic-3/

[2019-01-01 19:26] lim-enhui opened #219 "Is this plugin tested for Android 9 device using ionic 3.9.2"
I did a test but its not working on the device...

[2019-01-06 15:50] scramatte commented on #174
Hi,

Can you post a complete and working example here ?

Thank you

[2019-01-06 18:11] scramatte commented on #172
Hi,

Can you post a complete working example here?
I'm unable to get  the preview ...

Thank you

[2019-01-08 07:09] lim-enhui commented on #204
ion-content {
    --background: var(--ion-background-color, transparent);
}

[2019-01-09 13:29] enesyalcin opened #220 "regex for filtering qr-code read-out"
I am in need of a way to omit qr-codes which don't have a specific pattern.

For example it should only read qr-codes which have the domain of a specific company.
Example:  `https://www.google.com/*`

Therefore it should just omit the qr-codes it reads out which don't fit the pattern. Does it make any sense to emit it to the startScanner function as a parameter?

[2019-01-10 11:45] Junijoh commented on #217
Yes phonegap-plugin-barcodescanner works.Thanks! Is there a way we can set the camera quality while scanning the barcode/ qrcode?

[2019-01-11 12:33] dhunter221 opened #221 "how to use this plugin in cordova-android <6.5.0？"
I'm using cordova-android@6.4.0 & ionic1. How to use this qrscanner plugin? Thanks a lot.

[2019-01-21 23:56] allenwalker2015 opened #223 "This plugin doesn't work"
This plugin tries to access camera with deprecated methods, thats why doesn't work.

[2019-01-21 23:58] allenwalker2015 commented on #221
This plugin cannot show the video because use deprecated methods. It happen to me with other plugin in native web dev.

[2019-01-21 23:58] allenwalker2015 commented on #221
@dhunter221 let me know if you find some plugin that really works

[2019-01-24 20:01] alemdg commented on #108
Worked great in Android, but in IOS is not showing the camera preview

[2019-01-24 22:14] alemdg commented on #190
NOT WORKING ON IOS

[2019-01-29 16:44] scnaonao commented on #216
+1

[2019-01-30 01:31] scnaonao opened #224 "Type 'QRScannerOriginal' is not assignable to type 'Provider'."
Type 'QRScannerOriginal' is not assignable to type 'Provider'.
  Type 'QRScannerOriginal' is missing the following properties from type 'FactoryProvider': provide, useFactory [2322]

[2019-01-31 18:25] broke31 opened #225 "Wrap plugin inside a container"
Good morning, it's possible show the qrscanner inside a container?
Thanks

[2019-01-31 21:39] uda1099 commented on #224
Change the import path to
`import { QRScanner } from '@ionic-native/qr-scanner/ngx';`
Both at the app.module.ts and the page you want to use it.

[2019-02-01 16:15] thibaud-sanchez opened #226 "Localize the string for using camera on iOS"
I would localize the string in multiple language when the app is requesting permission to use camera
Do you think it's possible to give the lacolized string in parameter when calling prepare() ?

This string is in the plugin.xml :
https://github.com/bitpay/cordova-plugin-qrscanner/blob/d54dc34b8c3e62c74ee6c3f4f24210d1bd92beb2/plugin.xml
` <platform name="ios">
    <config-file target="config.xml"

[2019-02-05 14:47] dickverweij opened #227 "Swift 4 version of the plugin?"

[2019-02-05 14:51] dickverweij commented on #227
Hi, swift 3.x is depricated. Is there a swift 4 version of this plugin available?

[2019-02-10 13:03] rijink7 opened #228 "QRScanner is undefined"
unable to use the plugin

Specs:-
Cordova :8.1.2
plugin :2.6.0(latest)
cordova android :7.1.4

[2019-02-12 02:39] princediana11 commented on #59
same problem here. any updates?

[2019-02-12 04:50] burtontanner commented on #59
I have woked around this by suggesting a smaller scan area. If the code is in the center of the screen and can focus, it works pretty well. My data matrix is 1/4 inch.

[2019-02-12 14:22] princediana11 commented on #59
I see. Were you able to solve it

[2019-02-20 19:40] burtontanner commented on #8
how hard would it be to get android to support data martix codes?

[2019-02-21 03:27] Razorholt commented on #227
That would be great! I love that plugin but I can't use it in iOS... Please?

[2019-02-21 18:55] YvesAmmann commented on #228
Same problem here on iOS

[2019-02-22 15:38] danish1023 commented on #166
QRScanner is causing error(swift support) on pgb. I have heard something like "bridging header". Can author please change your plugin code, so that it can work on pgb also. Desperately needed that. Please. Or guide me any workaround.

[2019-02-23 16:24] danish1023 opened #229 "PGB Compatible Plugin"
Can Author or Anybody can make this plugin pgb compatible. Needed urgently. I can pay for this. Please help.

[2019-02-25 05:59] danish1023 commented on #229
"SWIFT_VERSION" error on ios (phonegap build). Please help

[2019-02-25 06:03] danish1023 commented on #229
@bitjson
Error on Phonegap Build IOS:
The “Swift Language Version” (SWIFT_VERSION) build setting must be set to a supported value for targets which use Swift. This setting can be set in the build settings editor.

Please help.

[2019-02-27 03:54] vincicat commented on #109
ionic-native 5.x (Ionic 4 family) changed the API into promise base so that is fixed.

for all the subscription issue with ionic-native 4.x (Ionic 3) QR scanner (e.g. UI blocking), convert the `scan()` function to a promise based `scan()` function in your provider/component/page code may help:

[code]
[ref](https://github.com/bitpay/copay/blob/9c388a3ce01905aca3f6c965e63bc3abfe513690/src/pages/sca

[2019-03-01 09:52] Akshay2015M opened #230 "Not scanning on Android API level <= Marshmallow"
Hi,
We have developed a Cordova application to scan QR codes using this plugin. We have tested it on android pie it's working without any issue and it is fast for scanning(We liked it) but somehow it is not working on devices having android version 5.0, 4.4 (lower than Marshmallow).
Do we need to set up this plugin differently for those platforms?
Is there any resolution for this?

Our application

[2019-03-03 15:32] MinkiPan commented on #204
Please guys, I desperately need a solution or a tutorial, how I can add an UI on top of this scanner, since I can't just show a full screen camera preview, with the hacky solution `<HTMLElement>document.getElementsByTagName('ion-app')[0].style.display = none`
I am sitting the whole week trying to get a QRScanner working on my ionic 4 App. :(

[2019-03-03 16:08] lim-enhui commented on #204
this is meant to put on your page.. and do not mix with the above solution... ion-app will make the whole page display none...

[2019-03-03 16:16] MinkiPan commented on #204
what do you mean with "put on your page"?
I have this in html
`<ion-header>
  <ion-toolbar>
    <ion-title>qrscanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>`

and this in scss
`
ion-content { --background: none transparent; }
`

I don't see any camera preview

[2019-03-03 16:22] lim-enhui commented on #204
![capture](https://user-images.githubusercontent.com/13527348/53698128-8947de00-3e13-11e9-9d8f-82ccac6f18ba.PNG)
![capture2](https://user-images.githubusercontent.com/13527348/53698130-8baa3800-3e13-11e9-8a5f-e4e6c36f54ec.PNG)
![capture3](https://user-images.githubusercontent.com/13527348/53698132-8cdb6500-3e13-11e9-9f92-a2750e510859.PNG)

[2019-03-03 16:50] MinkiPan commented on #204
hey, thanks
why is ```ion-content {
    --background: var(--ion-background-color, transparent)
  }``` alone in scss not enough? I just don't get it :/

[2019-03-04 09:11] MinkiPan commented on #204
thanks! I made it work!
I am wondering if there could be a better solution than inject css at runtime to make everything transparent until CameraPreview can be seen, I have to hardcode every possible html element...

[2019-03-04 11:12] WellBload commented on #229
For me helped to paste into config.xml <preference name = "UseSwiftLanguageVersion" value = "4.2" />

[2019-03-05 04:04] Razorholt commented on #229
Can you please be more specific? Here is the result I got after PGB building process failed:

The “Swift Language Version” (SWIFT_VERSION) build setting must be set to a supported value for targets which use Swift. Supported values are: 3.0, 4.0, 4.2. This setting can be set in the build settings editor.

Thanks WellBload!

[2019-03-06 04:51] BobSadan opened #231 "Barcode format didn't support ？"
Hi,
    I find this latest version that don't add the Barcode format of Issue #132, and latest npm source haven't Barcode format about ios and andriod, so need adding by myself? please help me confirm it!
Thanks!

[2019-03-08 17:32] Razorholt commented on #229
Is there a swift 4 version out there? Otherwise, since I want to stick with Phonegap Build, what are my options? Thanks!

[2019-03-09 09:08] WellBload commented on #229
For PGB I added to config.xml
` <platform name="ios">
    <preference name="UseSwiftLanguageVersion" value="4.2" />
  </platform>`

and plugin definition:
<plugin name="cordova-plugin-qrscanner" source="npm" />

PGP build passed successfully for iOS and Android and plugin works!

[2019-03-10 04:56] Razorholt commented on #229
Which phonegap-version are you using?

[2019-03-10 07:59] WellBload commented on #229
cli-8.1.1

[2019-03-10 09:06] danish1023 commented on #229
@WellBload

Can you please share your config.xml file so that we can identify where we are doing wrong, as we all are trying but failed.

[2019-03-10 18:13] Razorholt commented on #229
Same phonegap version that I'm using... weird. Also, I don't understand why you specify swift 4.2 since the plugin requires swift 3. As @danish1023 suggested, can you please share your config file. Several of us are losing their minds right now. :) Thank you so much!!

[2019-03-10 19:38] WellBload commented on #229
This is iOS part of my config.xml:

<platform name="ios">
    <preference name="phonegap-version" value="cli-8.1.1" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="SuppressesLongPressGesture" valu

[2019-03-10 21:39] Razorholt commented on #229
Thank you @WellBload but I still couldn't make it work. Tired of it. So I'll switch to phonegap-plugin-barcodescanner. I appreciate your time!

[2019-03-11 07:27] tdukai opened #233 "QRScanner.java uses or overrides a deprecated API."
android/app/src/main/java/com/bitpay/cordova/qrscanner/QRScanner.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
Note: Some input files use unchecked or unsafe operations.
Note: Recompile with -Xlint:unchecked for details.

:app:compileDebugNdk NO-SOURCE
:app:compileDebugSources
:CordovaLib:mergeDebugShaders UP-TO-DATE
:CordovaLib:compileDebugShaders U

[2019-03-21 02:53] baotpham commented on #204
Here is my solution using angular. Basically, I have a flag on ion-content to turn on and off a css class:

[code]

[code]

[code]

[2019-03-22 13:18] thekingrenz23 commented on #181
@yangnana11 i followed your instruction about the blue color when the qrscanner is destroyed but it didt solved it

[2019-03-22 13:20] thekingrenz23 commented on #181
i follwed this on my android project didnt solved it

[2019-03-22 15:03] thekingrenz23 opened #234 "Transparent Background not revert when scan is destroyed"
Seems like the background stays transparent when the sacn is destroyed

[2019-03-23 13:44] rlysov opened #235 "TypeError: this.useCamera is not a function in www.min.js:304"
`QRScanner.useFrontCamera` and `QRScanner.useBackCamera` does not work if callback passed. Fails with error:

Example
`
QRScanner.useFrontCamera( (err, status) => {
              // Some code
})
`

All works fine if no callback passed

[2019-03-26 12:24] RobbertWolfs commented on #227
already swift version 5 since yesterday...

[2019-03-26 12:24] RobbertWolfs commented on #191
do you have a solution?

[2019-03-26 15:14] lucapale commented on #227
The plugin does not compile anymore on iOS and XCode 10.2. Swift 3 is deprecated and changing to Swift 4 gets many errors. Is there any plan to upgrade?

[2019-03-26 18:26] tehlothi commented on #227
I went to spin off a new build today as well and after updating to XCode 10.2. I was forced to use at least Swift 4, when choosing Swift 4, 4.2, and 5 I got errors exclusively from this plugin that weren't there prior to switching Swift build version.

[2019-03-26 19:09] Razorholt commented on #227
So, is it my understanding that, as of right now, that plugin is not going to work for iOS using Phonegap Build?

[2019-03-26 19:17] mernen commented on #227
It won't work if you use the newly-released Xcode 10.2. As a workaround, you can download an older version of Xcode [here](https://developer.apple.com/download/more/) (search for "Xcode 10.1"). To use it for command-line builds, run the following command:

    xcode-select --switch <path to the old Xcode.app>/Contents/Developer

Note that this is only buying you more time; eventually a new version

[2019-03-26 19:23] Razorholt commented on #227
Thanks for your answer, @mernen but I'm not using Xcode. I was referring to Phonegap Build (PGB). Either way, I guess we'll have to wait...

[2019-03-26 19:28] mernen commented on #227
@Razorholt Sorry, I'm indeed not familiar with PhoneGap Build; I thought it was similar to Cordova, in that it ran on your machine? In that case, `xcode-select` should do the trick; if it's some kind of external build service, I guess you'll be entirely dependent on what options they offer you.

[2019-03-26 19:29] tehlothi commented on #227
@mernen Thanks for the temporary solution, hopefully that works for me for my testing phase and the plugin is fixed before my next release date.

[2019-03-26 19:47] cmgustavo commented on #227
I fixed the code to make it compatible with Swift 5, but the camera can't detect a QR code. Maybe I'm forgetting something before `captureSession!.startRunning()`. Of course, suggestions are welcome.

https://github.com/bitpay/cordova-plugin-qrscanner/pull/236

[2019-03-26 20:34] tehlothi commented on #227
@cmgustavo I built using your code and I'm at the same state. My project successfully built (using Swift 4.2) but the QR scanner isn't able to successfully scan a code.

[2019-03-27 15:25] SilentKernel commented on #227
Hi everyone.

captureOutput() has been removed from Swift, use metadataOutput() instead

Working example https://github.com/SilentKernel/cordova-plugin-qrscanner/blob/master/src/ios/QRScanner.swift

[2019-03-27 15:39] tehlothi commented on #227
Just testing using this code on XCode 10.2 with Swift 4.2 and it's working just like it used to. Thank you so much.

[2019-03-27 16:38] cmgustavo commented on #227
Thanks @SilentKernel !! That worked for me too.

[2019-03-27 17:15] Razorholt commented on #227
That's great news! Thank you guys for contributing to that project. Please let me know when I can try the new version on Phonegap Build.

<plugin spec="https://github.com/SilentKernel/cordova-plugin-qrscanner.git" /> didn't work...

[2019-03-27 19:01] cmgustavo commented on #227
Hi @Razorholt , try to modify directly the file in Xcode (src/ios/QRScanner.swift) and build again. Maybe you have to do `cordova rm cordova-plugin-qrscanner` and install again.

Or wait a bit until they upgrade the package in npmjs.com https://www.npmjs.com/package/cordova-plugin-qrscanner

[2019-03-28 01:37] Razorholt commented on #227
I guess I'll wait till npmjs updates the package. Thanks @cmgustavo for all you do!

[2019-03-28 02:21] guoweibo opened #237 "Not working on Android8.0"
hi:
   i useed cordova-plugin-qrscanner 2.6.0 "QRScanner".but its not work.

 scanCode() {
        this.qrScanner.prepare()
            .then((status: QRScannerStatus) => {
                if (status.authorized) {
                    // camera permission was granted
                    alert(1);

                    // start scanning
                    const scanSub = this.qrScanner.scan().subscr

[2019-03-28 07:51] SilentKernel commented on #227
@Razorholt it should work now you can add it with repo url

[2019-03-28 12:14] AndreasGassmann opened #238 "2.6.1 breaks build in Xcode 10.1"
We didn't lock the version of this plugin, so now with `2.6.1` the build is failing in Xcode 10.1.

[code]

[2019-03-28 12:51] cmgustavo commented on #238
Thanks for reporting. I think that it 's related to the non-backward compatibility between Swift 5 and 3. I will check.

[2019-03-28 13:01] flipace commented on #238
We have the same problem - i guess this latest release should have been a major one 🙈
Any chance this could be reverted, rereleased as 2.6.2 and a 3.0.0 with swift 5 support published?

[2019-03-28 13:01] cmgustavo commented on #227
The new version has been published: https://www.npmjs.com/package/cordova-plugin-qrscanner

I think that it 's not compatible with XCode 10.1. I'll take a look and let you know.

[2019-03-28 14:35] raghavdm opened #240 "Swift 5 issue"
As I am using Xcode 10.2, I want to upgrade this plugin to 3.0.0.
At time installing this plugin through cordova it is taking 2.6.0 version

When this plugin be available in 3.0.0

[2019-03-28 14:45] Razorholt commented on #227
PhoneGap Build error:

[code]
Is there a Swift4 version available by any chance?

[2019-03-28 15:31] cmgustavo commented on #227
Just updated plugin to v3.0.0 (not available yet on npm but `master`). It forces to use Swift 5 with:

´<preference name="UseSwiftLanguageVersion" value="5" />´

Also you can add it in your `config.xml` and re-build. But in v3 it won't be necessary.

[2019-03-28 18:17] Razorholt commented on #227
Sorry, it didn't work. Same error msg: '... Supported values are: 3.0, 4.0, 4.2...'

[2019-03-28 19:31] renatolaurino commented on #240
The same here

XCODE 10.1

**Plugins/cordova-plugin-qrscanner/QRScanner.swift:38:42: Type 'AVLayerVideoGravity' (aka 'NSString') has no member 'resizeAspectFill'**

`Ionic:

   ionic (Ionic CLI)  : 4.12.0 (/usr/local/lib/node_modules/ionic)
   Ionic Framework    : ionic-angular 3.9.2
   @ionic/app-scripts : 3.2.3

Cordova:

   cordova (Cordova CLI) : 6.5.0
   Cordova Platforms     : android 7.1.4,

[2019-03-29 07:36] BasMatthee commented on #238
Could you maybe also update NPM? https://www.npmjs.com/package/cordova-plugin-qrscanner Still says latest version is 2.6.1.

[2019-03-29 16:04] alienfractal commented on #188
Did anyone found a solutions to this problem??

[2019-03-29 16:23] cmgustavo commented on #227
Lastest version (3.0.1) is available in https://www.npmjs.com/package/cordova-plugin-qrscanner

Since the plugin depends of `cordova-plugin-add-swift-support` and it has Swift 3 as default. You should add this to your `config.xml`

[code]

For old Xcode (<= 10.1). Use `cordova-plugin-qrscanner` 2.6.2.

Thanks!

[2019-03-29 16:25] cmgustavo commented on #238
Plugin has been updated: https://www.npmjs.com/package/cordova-plugin-qrscanner

2.6.2 -> Compatible with XCode 10.1 or below

3.0.1 -> Compatible with Xcode 10.2 or higher

Thanks!

[2019-03-29 16:26] cmgustavo commented on #240
Version 3.0.1 is available right now. https://www.npmjs.com/package/cordova-plugin-qrscanner

Thanks.

[2019-03-30 14:47] Razorholt commented on #240
Well, no luck with PGB (PhoneGap Build) for iOS. I tried everything for hours - or days I should say. I don't even know if PGB is ready for Swift5 anyway. But thank you all for getting that plugin a boost!

[2019-04-01 07:14] BasMatthee commented on #238
@cmgustavo Awesome. Thanks man!

[2019-04-01 10:32] oschwier commented on #238
@cmgustavo Still getting the same error on 3.0.1 :-(

[2019-04-01 11:13] miquelferrerllompart commented on #188
We had the same problem here, any solution?

[2019-04-01 12:29] cmgustavo commented on #238
@oschwier Try to add
[code]
To your `config.xml`.

[2019-04-02 07:10] sonicwong commented on #234
YES, body tag still have `style="background-color: transparent;"`

[2019-04-02 08:36] sonicwong commented on #234
Use this to fix the error temporary.

`
import { Component, ChangeDetectorRef } from '@angular/core';

setTimeout(() => {
        window.document.body.style.backgroundColor = '#FFF';
        this.ref.detectChanges();
      }, 500);
`

[2019-04-02 13:00] marcelobandeira commented on #238
2.6.2 with Xcode 10.0 still getting the same error.

[2019-04-02 13:30] oschwier commented on #238
@cmgustavo No effect

[2019-04-03 09:47] renzified commented on #234
Thanks! Im using vanilla javascript. Can you provide more detail what does `this.ref.detectChanges();`
do and what is the equivalent code of it in vanilla javasript

[2019-04-03 19:45] gioid commented on #173
I have the same problem.

[2019-04-04 05:43] hamrak commented on #238
If you change UseSwiftLanguageVersion preference to value 5, you need to change
"UIApplication.openSettingsURLString" to "UIApplicationOpenSettingsURLString" in QRScanner.swift file.

[2019-04-05 13:23] cmgustavo commented on #238
That's not correct.
[code]
for Swift 5

[2019-04-07 20:51] MattRiddell commented on #238
I had the same problem, tried the `<preference name="UseSwiftLanguageVersion" value="5" />` and no change.  I changed the "UIApplication.openSettingsURLString" to "UIApplicationOpenSettingsURLString" in QRScanner.swift and it worked.

[2019-04-08 06:56] hamrak commented on #238
Yes, of course, but then there's something wrong.

[2019-04-10 09:21] MicroLord opened #245 "IOS 12.2 BUG"
**When ios 12.1 is upgraded to 12.2 ,  you cannot see the qr code in the camera , but you can realize the code scanning function . Please help me ,  it is very urgent!**

**_Both version 2.6.0 and 3.0.1 were tried_**

![image](https://user-images.githubusercontent.com/10664096/55867161-88ddf800-5bb4-11e9-83bf-50a2fea80730.png)

[2019-04-10 09:44] MicroLord commented on #245
Solved:
`<ion-app style="background: none transparent;"> </ion-app>`
thanks .

[2019-04-10 09:44] #245 closed, assigned to nobody

[2019-04-10 09:51] sonicwong commented on #132
iOS Code for plugin v3.0.1

`metaOutput!.metadataObjectTypes = [AVMetadataObject.ObjectType.qr, AVMetadataObject.ObjectType.ean13, AVMetadataObject.ObjectType.code128, AVMetadataObject.ObjectType.code39] `

`if ((found.type == AVMetadataObject.ObjectType.qr || found.type == AVMetadataObject.ObjectType.ean13 || found.type == AVMetadataObject.ObjectType.code128 || found.type == AVMetadataObject.Obje

[2019-04-10 09:53] sonicwong commented on #240
tested v3.0.1 working with ionic v4.0.0 release which cordova-ios is 4.5.5.

[2019-04-10 09:54] #240 closed

[2019-04-10 11:40] maiolica commented on #238
Tried, it's working for me, I've put the line inside

`<platform name="ios">`

[2019-04-11 16:35] rodrigograca31 commented on #18
@jacobgus I have the same bug as you, dont see the camera ..... what have you done to solve this?

@bitjson my `QRScanner.getStatus() output:`
[code]

[2019-04-11 17:11] rodrigograca31 commented on #18
I've found my problem!
The camera is behind the webview! So we have to set all backgrounds to transparent to view the camera!

[2019-04-14 21:02] Juarrow commented on #228
Same Problem

[2019-04-15 23:24] jcohenar123 opened #246 "Not working with Cordova 9 and XCode 10"
I'm using ionic AppFlow and when trying to build a production package with XCode 10.  I'm getting the following error:

` Installing "cordova-plugin-qrscanner" for ios

After reinstalling the plugin the error remains. Ionic team tells me this is due to plugin incompatibility with Cordova 9.

Would much appreciate your comments on this.

[2019-04-16 18:49] mattmilan-dev commented on #234
Having the same issue here too. Where about does the above code go? As the background is still remaining transparent for me. I understand that based off the angular docs (https://angular.io/api/core/ChangeDetectorRef) that the change detector checks for changes in the view, however don't fully understand where this needs to go to perform properly.